
{% for exp in my_experience %}
  {% if experience_form.instance.work_company_id == exp.work_company_id %}
  {% include 'jobseeker/htmx/onboarding_exp_save.html' %}
  {% else %}
    <tr>
      <td>{{ exp.company_name }}</td>
      <td>{{ exp.company_role }}</td>
      <td>{{ exp.type_id }}</td>
      <td>{{ exp.doj|date:"M-Y" }}</td>
      <td>{{ exp.dol|date:"M-Y" }}</td>
      <td>{{ exp.reason_for_leaving }}</td>
      <td>
        {% if exp.doc %}

        <a class="form-conrol" href="{{ exp.doc.url }}" target="_blank" class="btn btn-sm btn-outline-primary mb-2">
            View file
        </a>
        {% endif %}
      </td>
      <td>
        <button type="button"
                class="btn btn-warning btn-sm"
                hx-post="{% url 'job_seeker:onboarding' onboarding_id=onboarding_obj.Onbording_id page='experience' %}"
                hx-target="#experience-body"
                hx-swap="innerHTML"
                hx-vals='{"edit_experience": "{{ exp.work_company_id }}"}'>
          <i class="fa-solid fa-pen-to-square open-modal-btn"></i>
        </button>

            <button
        formnovalidate
        class="btn btn-danger btn-sm delete-edu-btn"
        type="button"
        hx-post="{% url 'job_seeker:onboarding' onboarding_id=onboarding_obj.Onbording_id page='experience' %}"
        hx-vals='{"delete_experience": "{{ exp.work_company_id }}"}'
        hx-target="#experience-body"
        hx-swap="innerHTML">
        <i class="fa-solid fa-trash"></i>
        </button> 
        
        
      </td>
    </tr>
  {% endif %}
  {% empty %}
{% if not experience_form.instance.work_company_id %}
  {% include 'jobseeker/htmx/onboarding_exp_save.html' %}
{% endif %}

{% endfor %}

{% if not experience_form.instance.work_company_id %}
  <template id="new-exp-form-template">
     {% include 'jobseeker/htmx/onboarding_exp_save.html' %}
    </template>
{% endif %}

