
                    <tr> 
                        <td class="lang-col">
                            <select name="language_id" id="language_form" required>
                                <option value="">Select Language</option>
                                {% for lang in language_form.fields.language_id.queryset %}
                                    <option value="{{ lang.pk }}" {% if lang.pk == language_form.initial.language_id %}selected{% endif %}>
                                        {{ lang }}
                                    </option>
                                {% endfor %}
                            </select>           
                        </td>
                        {% comment %} <td class="ability-col"> {% endcomment %}
                        <div  class="known-lans">
                            <td>
                                <input type="checkbox" class="custom-checkbox" name="can_speak" id="can_speak" {% if language_form.can_speak.value %}checked{% endif %}>
                            </td>
                            <td>
                                <input type="checkbox" class="custom-checkbox" name="can_read" id="can_read" {% if language_form.can_read.value %}checked{% endif %}>
                            </td>
                            <td>
                                <input type="checkbox" class="custom-checkbox" name="can_write" id="can_write" {% if language_form.can_write.value %}checked{% endif %}>
                            </td>


                </div>                      
                        <td class="prof-col">
                            <select name="proficiency" id="proficiency">
                                <option value="">Select Proficiency Level</option>
                                {% for choice in language_form.fields.proficiency.choices %}
                                {% if choice.0 != "" %}
                                <option value="{{ choice.0 }}" {% if choice.0 == language_form.initial.proficiency %}selected{% endif %}>
                                    {{ choice.1 }}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>            
                        </td>
                        <td>
                        {% comment %} <button 
                            class="model-btn-save"
                            type="submit"
                            name="save_language" 
                            value="{{ lan.user_language_id }}">

                                    Save

                            </button> {% endcomment %}


                        </td>
                    </tr>



