
    <div class="modal-dialog">
        <form method="post" action="#" 
                    hx-post="#"
            hx-vals='{"resume_save": ""}'
            hx-target="#resume"
            hx-swap="innerHTML"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-on="htmx:beforeRequest: startLoading();
                htmx:afterRequest: stopLoading();
                htmx:afterOnLoad: checkIfFullPage(event);closeHtmxModalButton();"
            enctype="multipart/form-data">
            {% csrf_token %}
        <div class="modal-content">
    
        <!-- Modal Header -->
        <div class="modal-header">
            <h3 class="modal-title">Upload Resume</h3>
            <button type="button" class="btn-close close-modal-btn" onclick="closeHtmxModalButton()" id="closeResumeModalButton"><i class='fas fa-times edit'></i></button>
        </div>
    
        <!-- Modal Body -->
        <div class="modal-body2">
        <div class="margin20">
        <div class="">

            <table class="modal-table">
                <tbody>
                    <tr> 

                        <td>
                        <div class="upload-box">
                        <label for="resume" id="resumeLabel">Choose Resume</label>
                        <input type="file" name="resume-file" id="resume" />
                        </div>
                    </tr>
                    <tr><td><b>Supported formats: PDF, DOC, DOCX up to 5MB</b></td></tr>
             </tbody>
            </table>

        </div>
        </div>
        </div>
    
        <!-- Modal Footer -->
        <div class="modal-footer">
            <button type="submit" name="resume_save" class="model-btn-save" id="">Save</button>
        </div>
    
        </div>
    </form>
    </div>



