

        <div class="modal-dialog" id="HtmxModalBody">
        <form method="post" action="#" 
                    hx-post="#"
            hx-vals='{"personal_save": ""}'
            hx-target="#personal-info"
            hx-swap="innerHTML"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-on="htmx:beforeRequest: startLoading();
                htmx:afterRequest: stopLoading();
                htmx:afterOnLoad: checkIfFullPage(event);closeHtmxModalButton();"
                >
            {% csrf_token %}
        <div class="modal-content show">
    
        <!-- Modal Header -->
        <div class="modal-header">
            <h3 class="modal-title">Personal Info</h3>
            <button type="button" class="btn-close close-modal-btn" onclick="closeHtmxModalButton()">
             <i class='fas fa-times edit'></i></button>
        </div>
    
        <!-- Modal Body -->
        <div class="modal-body">
        <div class="margin20">
        <div class="">

            <table class="modal-table">
                <tr> 
                    <td><b>First name</b></td>
                    <td><input type="text" id="firstname" name="first_name" value="{{ candidate_form.initial.first_name|default_if_none:'' }}" required></td>
                </tr>
                <tr> 
                    <td><b>Last name</b></td>
                    <td><input type="text" id="lastname" name="last_name" value="{{ candidate_form.initial.last_name|default_if_none:'' }}" required></td>
                </tr>
                <tr> 
                    <td><b>Email</b></td>
                    <td><input type="text" id="email" value="{{ candidate_form.instance.user.email|default_if_none:'' }}" disabled></td>
                </tr>
                <tr> 
                    <td><b>Phone No</b></td>
                    <td><input type="text" id="no" value="{{ candidate_form.instance.user.mobile_no|default_if_none:'' }}" disabled></td>
                </tr>
                <tr> 
                    <td><b>Date of birth</b></td>
                    <td>

                        <input type="date" id="dob" name="dob" value="{{ candidate_form.initial.dob|date:'Y-m-d'|default_if_none:'' }}" >

                    </td>
                </tr>
                <tr> 
                    <td><b>Country</b></td>
                    <td><input type="text" id="country" name="country" value="{{ candidate_form.initial.country|default_if_none:'' }}"></td>
                </tr>
                <tr> 
                    <td><b>State</b></td>
                    <td><input type="text" id="state" name="state" value="{{ candidate_form.initial.state|default_if_none:'' }}"></td>
                </tr>
                <tr> 
                    <td><b>City</b></td>
                    <td><input type="text" id="city" name="city" value="{{ candidate_form.initial.city|default_if_none:'' }}"></td>
                </tr>
                <tr> 
                    <td><b>Gender</b></td>
                    <td><select id="gender" name="gender">
                        <option value="">Select</option>
                        <option value="Male" {% if candidate_form.initial.gender == 'Male' %}selected{% endif %}>Male</option>
                        <option value="Female" {% if candidate_form.initial.gender == 'Female' %}selected{% endif %}>Female</option>
                        <option value="Other" {% if candidate_form.initial.gender == 'Other' %}selected{% endif %}>Other</option>
                    </select></td>
                </tr>
                <tr> 
                    <td><b>Marital Status</b></td>
                    <td><select id="marital_status" name="marital_status">
                        <option value="">Select</option>
                        <option value="Single" {% if candidate_form.initial.marital_status == 'Single' %}selected{% endif %}>Single</option>
                        <option value="Married" {% if candidate_form.initial.marital_status == 'Married' %}selected{% endif %}>Married</option>
                    </select></td>
                </tr>
                {% comment %} <tr> 
                    <td><b>LinkedIn profile</b></td>
                    <td><input type="text" id="linkedin_profile" name="linkedin_profile" value="{{ candidate.linkedin_profile|default_if_none:'' }}"></td>
                </tr> {% endcomment %}
                <tr> 
                    <td><b>Work status</b></td>
                    <td><select id="work_status" name="work_status">
                        <option value="">Select</option>
                        <option value="Fresher" {% if candidate_form.initial.work_status == 'Fresher' %}selected{% endif %}>Fresher</option>
                        <option value="Experienced" {% if candidate_form.initial.work_status == 'Experienced' %}selected{% endif %}>Experienced</option>
                    </select></td>
                </tr>
            </table>

        </div>
        </div>
        </div>
    
        <!-- Modal Footer -->
        <div class="modal-footer">
            <button type="submit" 
            name="personal_save" 
            class="model-btn-save"
            >Save</button>
            
        </div>
    
        </div>
    </form>
    </div>

