

        <div class="modal-dialog" id="HtmxModalBody">
        <form method="post" action="#" 
                    hx-post="#"
            hx-vals='{"personal_save": ""}'
            hx-target="#personal-info"
            hx-swap="innerHTML"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-on="htmx:beforeRequest: startLoading();
                htmx:afterRequest: stopLoading();
                htmx:afterOnLoad: checkIfFullPage(event);closeHtmxModalButton();"
                >
            {% csrf_token %}
        <div class="modal-content show">
    
        <!-- Modal Header -->
        <div class="modal-header">
            <h3 class="modal-title">Personal Info</h3>
            <button type="button" class="btn-close close-modal-btn" onclick="closeHtmxModalButton()">
             <i class='fas fa-times edit'></i></button>
        </div>
    
        <!-- Modal Body -->
        <div class="modal-body">
        <div class="margin20">
        <div class="">
        
<div class="form-grid">
    <div class="form-group">
        <label for="firstName" class="form-label">First name</label>
        <input type="text" id="firstname" name="first_name" 
        value="{{ candidate_form.initial.first_name|default_if_none:'' }}" 
        placeholder="Enter your first name"
        required>
    </div>

    <div class="form-group">
        <label for="lastName" class="form-label">Last name</label>
        <input type="text" id="lastname" name="last_name" 
        value="{{ candidate_form.initial.last_name|default_if_none:'' }}" 
        placeholder="Enter your last name"
        required>   
    </div>

    <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input type="text" id="email" 
        value="{{ candidate_form.instance.user.email|default_if_none:'' }}" 
        placeholder="Your email"
        disabled>
    </div>

    <div class="form-group">
        <label for="phone" class="form-label">Phone no</label>
        <input type="text" id="no" 
        value="{{ candidate_form.instance.user.mobile_no|default_if_none:'' }}" 
        placeholder="Your phone number"
        disabled>
    </div>

    <div class="form-group">
        <label for="dob" class="form-label">Date of Birth</label>
        <input type="date" id="dob" name="dob" 
        value="{{ candidate_form.initial.dob|date:'Y-m-d'|default_if_none:'' }}"
        placeholder="YYYY-MM-DD">
    </div>

    <div class="form-group">
        <label for="gender" class="form-label">Gender</label>
        <select id="gender" name="gender">
            <option value="">Select</option>
            <option value="Male" {% if candidate_form.initial.gender == 'Male' %}selected{% endif %}>Male</option>
            <option value="Female" {% if candidate_form.initial.gender == 'Female' %}selected{% endif %}>Female</option>
            <option value="Other" {% if candidate_form.initial.gender == 'Other' %}selected{% endif %}>Other</option>
        </select>
    </div>

    <div class="form-group">
        <label for="Country" class="form-label">Country</label>
        <input type="text" id="country" name="country" 
        value="{{ candidate_form.initial.country|default_if_none:'' }}"
        placeholder="e.g. India">
    </div>

    <div class="form-group">
        <label for="State" class="form-label">State</label>
        <input type="text" id="state" name="state" 
        value="{{ candidate_form.initial.state|default_if_none:'' }}"
        placeholder="e.g. Tamil Nadu">
    </div>

    <div class="form-group">
        <label for="City" class="form-label">City</label>
        <input type="text" id="city" name="city" 
        value="{{ candidate_form.initial.city|default_if_none:'' }}"
        placeholder="e.g. Chennai">
    </div>

    <div class="form-group">
        <label for="marital-status" class="form-label">Marital Status</label>
        <select id="marital_status" name="marital_status">
            <option value="">Select</option>
            <option value="Single" {% if candidate_form.initial.marital_status == 'Single' %}selected{% endif %}>Single</option>
            <option value="Married" {% if candidate_form.initial.marital_status == 'Married' %}selected{% endif %}>Married</option>
        </select>
    </div>

    <div class="form-group">
        <label for="work-status" class="form-label">Work Status</label>
        <select id="work_status" name="work_status">
            <option value="">Select</option>
            <option value="Fresher" {% if candidate_form.initial.work_status == 'Fresher' %}selected{% endif %}>Fresher</option>
            <option value="Experienced" {% if candidate_form.initial.work_status == 'Experienced' %}selected{% endif %}>Experienced</option>
        </select>
    </div>
</div>


        </div>
        </div>
        </div>
    
        <!-- Modal Footer -->
        <div class="modal-footer">
            <button type="submit" 
            name="personal_save" 
            class="model-btn-save"
            >Save</button>
            
        </div>
    
        </div>
    </form>
    </div>

