
        <div class="modal-dialog">       
                <form
                        hx-post="#"
            hx-target="#education"
            hx-swap="innerHTML"
            hx-on="htmx:beforeRequest: startLoading();
                htmx:afterRequest: stopLoading();
                htmx:afterOnLoad: checkIfFullPage(event);closeHtmxModalButton();"
                >
                {% csrf_token %}
            <div class="modal-content">
        
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title">Education</h3>
                <button type="button" class="btn-close close-modal-btn" id="closeEduModalButton" onclick="closeHtmxModalButton()"><i class='fas fa-times edit'></i></button>
            </div>
        
            <!-- Modal Body -->
            <div class="modal-body">
            <div class="margin20">
            <div class="">
                <table class="modal-table">
                    <tr> 
                        <td><b>Education Level</b></td>
                        <td>
                            <select class="edu-level" name="level" id="id_edu_id" required>
                                <option value="">Select Education Level</option>
                            </select>            
                        </td>
                    </tr>
                    <tr> 
                        <td><b>Degree</b></td>
                        <td>
                            <select class="edu-course" name="course" id="id_edu_id" required>
                                <option value="">Select Brance</option>

                            </select>            
                    </td>
                    </tr>
                    <tr> 
                        <td><b>Specialization</b></td>
                        <td>
                            <select class="edu-spec" name="edu_id" id="id_edu_id"\
                            data-selected-spec="{{ education_form.initial.edu_id|default:'' }}"
                             required>
                                <option value="">Select Degree</option>

                            </select>
            
                        </td>
                    </tr>
                    <tr> 
                        <td><b>Institute Name</b></td>
                        <td>
                            <input type="text" name="institute" id="id_institute" value="{{ education_form.initial.institute|default_if_none:'' }}" placeholder="Enter your institude name" required /></td>
                    </tr>
                    <tr> 
                        <td><b>Education Type</b></td>
                        <td>
                            <select name="type_id" id="id_type_id" required>
                                <option value="">Select Education Type</option>
                                {% for option in education_form.fields.type_id.queryset %}
                                    <option value="{{ option.pk }}" {% if option.pk == education_form.initial.type_id %}selected{% endif %}>
                                        {{ option }}
                                    </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr> 
                        <td><b>Course duration</b></td>
                        <td>
                            <select id="id_year_of_passing" class="modal-half-input" name="year_of_joining" required>
                                <option value="">Select Starting Year</option>
                            {% for value, label in education_form.fields.year_of_joining.choices %}
                                <option value="{{ value }}"
                                    {% if value == education_form.initial.year_of_joining %}selected{% endif %}>
                                    {{ label }}
                                </option>
                            {% endfor %}
                            </select>
                            to
                            <select id="id_year_of_passing" class="modal-half-input" name="year_of_passing" required>
                                <option value="">Select Ending Year</option>
                            {% for value, label in education_form.fields.year_of_passing.choices %}
                                <option value="{{ value }}"
                                    {% if value == education_form.initial.year_of_passing %}selected{% endif %}>
                                    {{ label }}
                                </option>
                            {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr> 
                        <td></td>
                        <td><label for="currently">

                            <input type="checkbox" name="currently" id="currently" class="" {% if education_form.initial.currently %}checked{% endif %} placeholder="Enter DOJ" />
                            I am Currently pursuing this degree
                        </label>
                            <td>
                    </tr>                    
                    <tr> 
                        <td><b>Grade or Percentage</b></td>
                        <td><input type="text" name="score" id="id_score" value="{{ education_form.initial.score|default_if_none:'' }}" placeholder="Enter Grade like 7.1/10 or Percentage like 78.2%" required /></td>
                    </tr>
                    {% comment %} <tr> 
                        <td><b>Doc</b></td>
                        <td><input type="text" id="city" name="city" value="{{ candidate.city|default_if_none:'' }}"></td>
                    </tr> {% endcomment %}

                </table>

            </div>
            </div>
            </div>
        
            <!-- Modal Footer -->
            <div class="modal-footer">
                {% comment %} <button type="submit" name="profile_education_create" class="model-btn-save" id="">Save</button> {% endcomment %}
                {% if education_form.instance.edu_map_id %}
                
                <button type="submit" 
                    formnovalidate
                    name="education_delete"
                class="model-btn-delete"
                    value="{{ education_form.instance.edu_map_id|default:'' }}"
                    hx-include="this"
                >Delete</button>
                {% endif %}
            <button type="submit" 
            
                name="education_save"
            class="model-btn-save"
                value="{{ education_form.instance.edu_map_id|default:'' }}"
                hx-include="this"
            >Save</button>

            </div>
        
            </div>
        </form>
        </div>


