
<div class="modal" id="newHireRequest">
    <div class="modal-dialog">
        <form method="post" action="#" id="create-new-hire-request-id">
            {% csrf_token %}
        <div class="modal-content">
    
        <!-- Modal Header -->
        <div class="modal-header">
            <h3 class="modal-title">Create new Hire Request</h3>
            <button type="button" class="btn-close close-modal-btn" id="#"><i class='fas fa-times edit'></i></button>
        </div>
    
        <!-- Modal Body -->
        <div class="modal-body">
        <div class="margin20">
        <div class="">

            <table class="modal-table">
                <tr> 
                    <td><b>For which Position</b></td>
                    <td>
                        <input type="hidden" name="position" id="selected_positions_input" />
                        <div id="position-wrapper" class="multi-select-container"></div>
                        
                    </td>
                </tr>
                <tr> 
                    <td><b>Deadline</b></td>
                    <td><input type="date" id="" name="deadline" min="1" value="2" required></td>
                </tr>

            </table>

        </div>
        </div>
        </div>
    
        <!-- Modal Footer -->
        <div class="modal-footer">
            <button type="submit" name="create_hire_request" class="model-btn-save" id="">Save</button>
        </div>
    
        </div>
    </form>
    </div>
    </div>
