
<div class="modal" id="previewNewJob" style="width: 100%;">
    <div class="modal-dialog" style="width:100%">
        <form method="post" action="#">
            {% csrf_token %}
        <div class="modal-content">
    
        <!-- Modal Header -->
        <div class="modal-header">
            <h3 class="modal-title">Preview your job post</h3>
            <button type="button" class="btn-close close-modal-btn" id="#"><i class='fas fa-times edit'></i></button>
        </div>
    
        <!-- Modal Body -->
        <div class="modal-body">
        <div class="margin20">
        <div class="">

{% comment %}  {% endcomment %}
<div class="container">     
    <div class="company-in-job">
                 
        <div class="fixed">
        <div class="company-details">
            <h1>webbb</h1>
            <h5>Asus</h5>
            <form method="POST" action="/apply/">
                <input type="hidden" name="csrfmiddlewaretoken" value="Rh2anpVopOt4TeEgdTg1oHKCZDnmAOwcyB1u1VK2BgwJ2xUw9vlL5ucm44TsLCxs">
                
                <input type="hidden" value="webbb" name="title">
                <input type="hidden" value="webbb-asus-aed8f6f7" name="slug">
                
                    <a href="/status/applied" class="apply-button to-view-button">View Status</a>
                
            </form>
                <div class="company-info">
                    <ul>
                        <li><a href="#highlights">Highlights</a></li>
                        <li><a href="#description">Job Description</a></li>
                        <li><a href="#key-skills">Key Skills</a></li>
                        <li><a href="#benefits">Benefits</a></li>
                        <li><a href="#about-company">About Company</a></li>
                    </ul>
                </div>
            </div>
                <hr class="divider">
                <div class="scroll">
                    <section class="Role" id="highlights">
                        <div class="role-details">
                          <!-- First Row: Location, Rotational, No Site -->
                          <ul class="icon-item">
                            <li><i class="fas fa-map-marker-alt"></i>
                                T Nagar - chennai

                            </li>
                            <li><i class="fas fa-indian-rupee-sign"></i>123123/Month</li>
                            <li><i class="fas fa-calendar-alt"></i> 1&nbsp;week ago</li>
                          </ul>
                          
                          <!-- Second Row: Salary, Experience, Qualification -->
                          <ul class="data">
                            <li><i class="fas fa-clock"></i>Full-time</li>
                            <li><i class="fas fa-briefcase"></i> Years</li>
                            <li><i class="fas fa-eye"></i>0 viewed</li>
                          </ul>
                          
                          <!-- Third Row: Date, Viewed, Applied -->
                          <ul class="data">
                            <li><i class="fas fa-laptop"></i>
                                
                                Onsite
                            
                            
                                
                                   ,
                                
                                Work from Home
                            
                            
                                
                                    , 
                                
                                Hybrid
                            
                            </li>
                            <li><i class="fas fa-graduation-cap"></i>Any cs Degree</li>
                            <li><i class="fas fa-paper-plane"></i>2 Applied</li>
                          </ul>
                        </div>
                      </section>
                      
                      
                <hr class="divider">
                <section id="description">
                    <h3>Description</h3>
                    <p></p><h1><strong>dskjfhds</strong></h1><p><strong>zvcdszdd<em>dsvsdv</em></strong></p><ul><li><strong><u>dsfds</u></strong></li></ul><ol><li><strong><u>dsdfdsf</u></strong></li></ol><p><strong><u>sdfds</u></strong></p><h1><strong><u>sdfdssdfds</u></strong></h1><p>sdfd</p><p></p>
            </section>
                <hr class="divider">                
                <section class="responsibilities" id="key-skills">
                    <h3>Key Skills</h3>
                    <div class="skills">
                        
                        
                        
                          <span>sdfdsdsf</span>
                        
                        
                        
                          <span>ce af</span>
                        
                        
                        
                          <span>sf</span>
                        
                        
                        
                          <span>ds</span>
                        
                        
                        
                          <span>f</span>
                        
                        
                        
                          <span>drs</span>
                        
                        
                        
                          <span>fs</span>
                        
                        
                        
                          <span>f</span>
                        
                        
                        
                          <span>e</span>
                        
                        
                        
                          <span>sf</span>
                        
                        
                        
                          <span>er</span>
                        
                        
                        
                          <span>f</span>
                        
                        
                        
                          <span>er</span>
                        
                        
                        
                          <span>f</span>
                        
                        
                        
                          <span>e</span>
                        
                        
                        
                          <span>e</span>
                        
                        
                        
                          <span>rdf</span>
                        
                        
                        
                          <span>ds</span>
                        
                        
                        
                          <span>f</span>
                        
                        
                        
                        
                        
                      
                    </div>
                </section>
                <hr class="divider">
                <section class="benefits" id="benefits">
                    <h3>Benefits</h3>
                    <ul>
                        
                           <li> fvds fsdf efsdzffvds fsdf efsdzffvds fsdf efsdzffvds fsdf efsdzffvds fsdf efsdzffvds fsdf efsdzf</li>
                        
                    </ul>
                </section>
                <hr class="divider">
                <section class="about-in-job" id="about-company">
                    <h3>About Asus</h3>
                    <p>
                        None
                    </p>
                </section>
            </div>
        </div>
    </div>
</div>



{% comment %}  {% endcomment %}
        </div>
        </div>
        </div>
    
        <!-- Modal Footer -->
        <div class="modal-footer">
            <button type="button" name="create_osition" class="model-btn-save close-modal-btn" id="">Close</button>
        </div>
    
        </div>
    </form>
    </div>
    </div>

