

    <!-- The Modal for ==========educational add===================== -->
    <div class="modal" id="PreferEditModal">
        <div class="modal-dialog">
            <form method="post" action="#">
                {% csrf_token %}
            <div class="modal-content">
        
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title">Add New Perference</h3>
                <button type="button" class="btn-close" id="closePreferEditModalButton"><i class='fas fa-times edit'></i></button>
            </div>
        
            <!-- Modal Body -->
            <div class="modal-body">
            <div class="margin20">
            <div class="">
                <table class="modal-table">
                    <h3><u>Add Language : </u></h3>
                    <tr> 
                        <td><b>Select Language</b></td>
                        <td>
                            <select name="language_id" id="new_language">
                                <option value="">Select Language</option>
                                {% for lang in new_language.fields.language_id.queryset %}
                                    <option value="{{ lang.pk }}" {% if lang.pk == new_language.initial.language_id %}selected{% endif %}>
                                        {{ lang }}
                                    </option>
                                {% endfor %}
                            </select>           
                        </td>
                    </tr>
                    <tr> 
                        <td><b>Can you speak</b></td>
                        <td>
                            <input type="checkbox" name="can_speak">
                            
                        </td>
                    </tr>
                    <tr> 
                        <td><b>Can you Read</b></td>
                        <td>
                            <input type="checkbox" name="can_read">
                        </td>
                    </tr>
                    <tr> 
                        <td><b>Can you write</b></td>
                        <td>
                            <input type="checkbox" name="can_write">
                        </td>
                    </tr>
                    <tr> 
                        <td><b>Select Proficiency level</b></td>
                        <td>
                            <select name="proficiency" id="proficiency">
                                <option value="">Select key Skills</option>
                                {% for choice in new_language.fields.proficiency.choices %}
                                {% if choice.0 != "" %}
                                <option value="{{ choice.0 }}" {% if choice.0 == new_language.initial.proficiency %}selected{% endif %}>
                                    {{ choice.1 }}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>            
                        </td>
                    </tr>


                </table>
                <table class="modal-table">
                    <h3><u>Add Location : </u></h3>
                    <tr> 
                        <td><b>Select Language</b></td>
                        <td>
                            <input type="text" name="location" id="location" value="{{ new_location.initial.location|default_if_none:'' }}" placeholder="Enter your full location" />      
                        </td>
                    </tr>
                </table>

            </div>
            </div>
            </div>
        
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="submit" name="profile_preference_edit" class="model-btn-save" id="">Save</button>
            </div>
        
            </div>
        </form>
        </div>
        </div>


        
<script type="text/javascript" >
    var PFEmodal = document.getElementById("PreferEditModal");
    var PFEopenButton = document.getElementById("openPreferModalButton");
    var PFEcloseButton = document.getElementById("closePreferEditModalButton");
    {% comment %} var closeFooterButton = document.getElementById("closeModalFooterButton"); {% endcomment %}
    
    // Function to open modal
    PFEopenButton.onclick = function() {
        PFEmodal.style.display = "block";
    };
    
    // Function to close modal
    PFEcloseButton.onclick = function() {
        PFEmodal.style.display = "none";
    };
    
    {% comment %} // Close modal with footer button
    closeFooterButton.onclick = function() {
      modal.style.display = "none";
    }; {% endcomment %}
    
    // Close the modal when clicking outside of it
    window.onclick = function(event) {
      if (event.target == PFEmodal) {
        PFEmodal.style.display = "none";
      }
    };
    


  </script>





    <!-- The Modal for ==========educational Edit===================== -->
    <div class="modal" id="EduEditModal">
        <div class="modal-dialog">
            <form method="post" action="#">
                {% csrf_token %}
            <div class="modal-content">
        
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title">Edit education details</h3>
                <button type="button" class="btn-close" id="closeEduEditModalButton"><i class='fas fa-times edit'></i></button>
            </div>
        
            <!-- Modal Body -->
            <div class="modal-body">
            <div class="margin20">
            <div class="">
                
                    <div class="education">
                        <div class="education-name2">
    
                            {% if education %}
                            {% for edu in education %}
                            <div class="education-name2-1">
                                <div class="education-name2-1-col">
                                    <h4>{{edu.institute|default_if_none:''}}</h4>
                                    <p>{{edu.edu_id|default_if_none:''}}</p>
                                    <p >{{edu.year_of_passing|default_if_none:''}} | {{edu.type_id|default_if_none:''}}</p>

                                </div>
                                <div class="employement-date-div">
                                    <form method="POST" action="#">
                                        {% csrf_token %}
                                    <button value="{{ forloop.counter }}" type="submit" name="SelectEducation"><i class='fa-solid fa-pencil'></i></Button>
                                    </form>
                                </div>
                                {% comment %} <div class="education-name2-1-date">
                                    <p>{{edu.year_of_passing}}</p>
                                    <p>{{edu.type_id}}</p>
                                </div> {% endcomment %}
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="education-name2-1">
                                <div class="education-name2-1-col">
                                    <a href="#" id="openEduModalButton">Add</a>
    
                                </div>
                            </div>
                            {% endif %}
    
                        </div>             
                    </div>
                <table class="modal-table">

                    {% if educationEdit %}
                        {{ educationEdit }}
                    {% endif %}
                    <tr> 
                        <td><b>Education Level</b></td>
                        <td><input type="text" id="firstname" name="first_name" value="{{ candidate.first_name|default_if_none:'' }}" required></td>
                    </tr>
                    <tr> 
                        <td><b>Branch</b></td>
                        <td><input type="text" id="lastname" name="last_name" value="{{ candidate.last_name|default_if_none:'' }}" required></td>
                    </tr>
                    <tr> 
                        <td><b>Degree</b></td>
                        <td><input type="text" id="email" name="email" value="{{ candidate.user.email|default_if_none:'' }}" disabled></td>
                    </tr>
                    <tr> 
                        <td><b>Institute Name</b></td>
                        <td><input type="text" id="no" name="no" value="{{ candidate.user.mobile_no|default_if_none:'' }}" disabled></td>
                    </tr>
                    <tr> 
                        <td><b>Education Type</b></td>
                        <td>
                            {% if candidate.dob %}
                                <input type="date" id="dob" name="dob" value="{{ candidate.dob|date:'Y-m-d'|default_if_none:'' }}" disabled>
                            {% else %}
                            <input type="date" id="dob" name="dob" value="{{ candidate.dob|date:'Y-m-d'|default_if_none:'' }}" >
                            {% endif %}   
                        </td>
                    </tr>
                    <tr> 
                        <td><b>Passing Year</b></td>
                        <td><input type="text" id="country" name="country" value="{{ candidate.country|default_if_none:'' }}"></td>
                    </tr>
                    <tr> 
                        <td><b>Score</b></td>
                        <td><input type="text" id="state" name="state" value="{{ candidate.state|default_if_none:'' }}"></td>
                    </tr>
                    {% comment %} <tr> 
                        <td><b>Doc</b></td>
                        <td><input type="text" id="city" name="city" value="{{ candidate.city|default_if_none:'' }}"></td>
                    </tr> {% endcomment %}

                </table>

            </div>
            </div>
            </div>
        
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="submit" class="model-btn-save" id="">Save</button>
            </div>
        
            </div>
        </form>
        </div>
        </div>



<script type="text/javascript" >
// Get modal and close button elements==========Personal=============
var EEmodal = document.getElementById("EduEditModal");
var EEopenButton = document.getElementById("openEduEditModalButton");
var EEcloseButton = document.getElementById("closeEduEditModalButton");
{% comment %} var closeFooterButton = document.getElementById("closeModalFooterButton"); {% endcomment %}

// Function to open modal
EEopenButton.onclick = function() {
  EEmodal.style.display = "block";
};

// Function to close modal
EEcloseButton.onclick = function() {
  EEmodal.style.display = "none";
};

{% comment %} // Close modal with footer button
closeFooterButton.onclick = function() {
  modal.style.display = "none";
}; {% endcomment %}

// Close the modal when clicking outside of it
window.onclick = function(event) {
  if (event.target == EEmodal) {
    EEmodal.style.display = "none";
  }
};


  </script>
