
    <!-- The Modal for ==========educational add===================== -->
    <div class="modal" id="SkillsModal">
        <div class="modal-dialog">
            <form method="post" action="#">
                {% csrf_token %}
            <div class="modal-content">
        
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title">Add New Skill detail</h3>
                <button type="button" class="btn-close close-modal-btn" id="closeSkillEditModalButton"><i class='fas fa-times edit'></i></button>
            </div>
        
            <!-- Modal Body -->
            <div class="modal-body">
            <div class="margin20">
            <div class="">
                <table class="modal-table">
                    {% comment %} <div class="key-list">
                        <div class="key-list-div">
                            <ul class="key-list-ul" id="keyUl">
                                {% if skills_list %}
                                {% for skill in skills_list %}
                                {% if skill %}                                
                                <li class="key-list-li">
                                    {{ skill }}

                                </li>
                                {% else %}
                                {% endif%}
                                {% endfor %}
                                {% else %}
                                <li class="key-list-li">
                                    No skills provided,
                                   <a href="">Add key skills</a>
                                </li>
                                {% endif %}
                                
                            </ul>
                        </div>
                    </div> {% endcomment %}
                    <tr> 
                        <td><b>Select Key skills</b></td>
                        <td>
                            <select name="new_skill" id="skilnew_skillls">
                                <option value="">Select key Skills</option>
                                {% for skill in skills %}
                                    <option value="{{ skill.skill }}">
                                        {{ skill }}
                                    </option>
                                {% endfor %}
                            </select>            
                        </td>
                    </tr>


                </table>

            </div>
            </div>
            </div>
        
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="submit" name="profile_skill_edit" class="model-btn-save" id="">Save</button>
            </div>
        
            </div>
        </form>
        </div>
        </div>

