
    <!-- The Modal for ==========educational add===================== -->
    <div class="modal" id="EmpModal">
        <div class="modal-dialog">
            <form method="post" action="#">
                {% csrf_token %}
            <div class="modal-content">
        
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title">Add new Employement detail</h3>
                <button type="button" class="btn-close close-modal-btn" id="closeEmpModalButton"><i class='fas fa-times edit'></i></button>
            </div>
        
            <!-- Modal Body -->
            <div class="modal-body">
            <div class="margin20">
            <div class="">
                <table class="modal-table">
                    <tr> 
                        <td><b>Company name</b></td>
                        <td>
                            <input type="text" name="company_name" id="" value="{{ new_employment.initial.company_name|default_if_none:'' }}" placeholder="Enter the company name" /></td>       
                        </td>
                    </tr>
                    <tr> 
                        <td><b>Designation</b></td>
                        <td>
                            <input type="text" name="company_role" id="" value="{{ new_employment.initial.company_role|default_if_none:'' }}" placeholder="Enter your Designation" /></td>          
                    </td>
                    </tr>
                    <tr> 
                        <td><b>Work type</b></td>
                        <td>
                            <select name="type_id" id="id_type_id">
                                <option value="">Select work Type</option>
                                {% for option in new_employment.fields.type_id.queryset %}
                                    <option value="{{ option.pk }}" {% if option.pk == new_employment.initial.type_id %}selected{% endif %}>
                                        {{ option }}
                                    </option>
                                {% endfor %}
                            </select>       
                    </td>
                    </tr>
                    <tr> 
                        <td><b>Date of Joining</b></td>
                        <td>
                            <input type="month" name="doj" id="" value="{{ new_employment.initial.doj|default_if_none:'' }}" placeholder="Enter DOJ" /></td>
                        </td>
                    </tr>
                    <tr> 
                    <td><b>Date of leaving</b></td>
                        <td>
                            <input type="month" name="dol" id="" value="{{ new_employment.initial.dol|default_if_none:'' }}" placeholder="Enter DOL" /></td>
                    </tr>
                    <td><b>Reason for leaving</b></td>
                        <td>
                            <input type="text" name="reason_for_leaving" id="" value="{{ new_employment.initial.reason_for_leaving|default_if_none:'' }}" placeholder="Reason for leaving job" /></td>
                    </tr>

                </table>

            </div>
            </div>
            </div>
        
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="submit" name="profile_employment_create" class="model-btn-save" id="">Save</button>
            </div>
        
            </div>
        </form>
        </div>
        </div>


        