

    <!-- The Modal for ==========educational add===================== -->
    <div class="modal" id="PreferModal">
        <div class="modal-dialog">
            <form method="post" action="#">
                {% csrf_token %}
            <div class="modal-content">
        
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title">Add New Perference</h3>
                <button type="button" class="btn-close close-modal-btn" id="closePreferEditModalButton"><i class='fas fa-times edit'></i></button>
            </div>
        
            <!-- Modal Body -->
            <div class="modal-body">
            <div class="margin20">
            <div class="">
                <table class="modal-table">
                    <h3>Add Language : </h3>
                    <tr> 
                        <td><b>Select Language</b></td>
                        <td>
                            <select name="language_id" id="new_language">
                                <option value="">Select Language</option>
                                {% for lang in new_language.fields.language_id.queryset %}
                                    <option value="{{ lang.pk }}" {% if lang.pk == new_language.initial.language_id %}selected{% endif %}>
                                        {{ lang }}
                                    </option>
                                {% endfor %}
                            </select>           
                        </td>
                    </tr>
                    <tr> 
                        <td><b>Can you speak</b></td>
                        <td>
                            <input type="checkbox" name="can_speak">
                            
                        </td>
                    </tr>
                    <tr> 
                        <td><b>Can you Read</b></td>
                        <td>
                            <input type="checkbox" name="can_read">
                        </td>
                    </tr>
                    <tr> 
                        <td><b>Can you write</b></td>
                        <td>
                            <input type="checkbox" name="can_write">
                        </td>
                    </tr>
                    <tr> 
                        <td><b>Select Proficiency level</b></td>
                        <td>
                            <select name="proficiency" id="proficiency">
                                <option value="">Select key Skills</option>
                                {% for choice in new_language.fields.proficiency.choices %}
                                {% if choice.0 != "" %}
                                <option value="{{ choice.0 }}" {% if choice.0 == new_language.initial.proficiency %}selected{% endif %}>
                                    {{ choice.1 }}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>            
                        </td>
                    </tr>


                </table>
                <table class="modal-table">
                    <h3>Add Location : </h3>
                    <tr> 
                        <td><b>Select Location</b></td>
                        <td>
                            <input type="text" name="location" id="location" value="{{ new_location.initial.location|default_if_none:'' }}" placeholder="Enter your full location" />      
                        </td>
                    </tr>
                </table>

            </div>
            </div>
            </div>
        
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="submit" name="profile_preference_edit" class="model-btn-save" id="">Save</button>
            </div>
        
            </div>
        </form>
        </div>
        </div>

