
    <!-- The Modal for ==========educational add===================== -->
    <div class="modal" id="InternModal">
        <div class="modal-dialog">
            <form method="post" action="#">
                {% csrf_token %}
            <div class="modal-content">
        
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title">Add new Internship detail</h3>
                <button type="button" class="btn-close close-modal-btn" id="closeInternModalButton"><i class='fas fa-times edit'></i></button>
            </div>
        
            <!-- Modal Body -->
            <div class="modal-body">
            <div class="margin20">
            <div class="">
                <table class="modal-table">
                    <tr> 
                        <td><b>Company name</b></td>
                        <td>
                            <input type="text" name="company_name" id="" value="{{ new_internship.initial.company_name|default_if_none:'' }}" placeholder="Enter the company name" /></td>       
                        </td>
                    </tr>
                    <tr> 
                        <td><b>Intership role</b></td>
                        <td>
                            <input type="text" name="company_role" id="" value="{{ new_internship.initial.company_role|default_if_none:'' }}" placeholder="Enter your Intern role" /></td>          
                    </td>
                    </tr>
                    <tr> 
                        <td><b>Started at</b></td>
                        <td>
                            <input type="date" name="doj" id="" value="{{ new_internship.initial.doj|default_if_none:'' }}" placeholder="Internship started at" /></td>
                        </td>
                    </tr>
                    <tr> 
                    <td><b>Ended at</b></td>
                        <td>
                            <input type="date" name="dol" id="" value="{{ new_internship.initial.dol|default_if_none:'' }}" placeholder="Enternship ended at" /></td>
                    </tr>
                    <td><b>What did you learn</b></td>
                        <td>
                            <input type="text" name="reason_for_leaving" id="" value="{{ new_internship.initial.what_did|default_if_none:'' }}" placeholder="What did you learn from this intern" /></td>
                    </tr>

                </table>

            </div>
            </div>
            </div>
        
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="submit" name="profile_internship_create" class="model-btn-save" id="">Save</button>
            </div>
        
            </div>
        </form>
        </div>
        </div>
