
<!-- The Modal for ==========personal Info===================== -->
<div class="modal" id="ResumeModal">
    <div class="modal-dialog">
        <form method="post" action="#"  enctype="multipart/form-data">
            {% csrf_token %}
        <div class="modal-content">
    
        <!-- Modal Header -->
        <div class="modal-header">
            <h3 class="modal-title">Upload Resume</h3>
            <button type="button" class="btn-close close-modal-btn" id="closeResumeModalButton"><i class='fas fa-times edit'></i></button>
        </div>
    
        <!-- Modal Body -->
        <div class="modal-body2">
        <div class="margin20">
        <div class="">

            <table class="modal-table">
                <tbody>
                    <tr> 

                        <td>
                        <div class="upload-box">
                        <label for="resume" id="resumeLabel">Choose Resume</label>
                        <input type="file" name="resume" id="resume" />
                        </div>
                    </tr>
                    <tr><td><b>Supported formats: PDF, DOC, DOCX up to 5MB</b></td></tr>
             </tbody>
            </table>

        </div>
        </div>
        </div>
    
        <!-- Modal Footer -->
        <div class="modal-footer">
            <button type="submit" name="upload_resume" class="model-btn-save" id="">Save</button>
        </div>
    
        </div>
    </form>
    </div>
    </div>
