
<!-- The Modal for ==========personal Info===================== -->
<div class="modal" id="PictureModal">
    <div class="modal-dialog">
        <form method="post" action="#">
            {% csrf_token %}
        <div class="modal-content">
    
        <!-- Modal Header -->
        <div class="modal-header">
            <h3 class="modal-title">Upload profile picture</h3>
            <button type="button" class="btn-close close-modal-btn" id="closePictureModalButton"><i class='fas fa-times edit'></i></button>
        </div>
    
        <!-- Modal Body -->
        <div class="modal-body">
        <div class="margin20">
        <div class="">

            <table class="modal-table">
                <tbody><tr> 
                    <td>
                    <div class="upload-box">
                    <label for="profile_picture" id="profile_pictureLabel">Choose Profile Picture</label>
                    <input type="file" id="profile_picture" />
                    </div>
                        <!-- <div class="custom-file-upload">

                            <input type="file" id="firstname" name="first_name" value="qwertyp2056@gmail.com" accept=".png,.jpg" required=""></td>
                        </div> -->
                </tr>
                    <tr><td><b>Supported formats: png, jpg up to 5MB</b></td></tr>

            </tbody></table>
        </div>
        </div>
        </div>
    
        <!-- Modal Footer -->
        <div class="modal-footer">
            <button type="submit" name="profile_personal_edit" class="model-btn-save" id="">Save</button>
        </div>
    
        </div>
    </form>
    </div>
    </div>
