<div class="right-div-table">
    <div class="new-hire-request-search">
        <div class="new-hire-request-parent">
            <!-- <div class="new-hire-request-div">
                <p>New Hire Request</p>
                <i class="fa-solid fa-angle-down"></i>
            </div>
            <div class="dev-text">
                <p>web Developer , support Engineer</p>

            </div> -->
            <div class="checkbox-1-table">
                <div class="checkbox-1-1-table">
                   <input type="checkbox" class="input-check"/>
                   <p>select All</p> 
                </div>
                <!-- <div class="checkbox-1-count-table">
                    <button>Delete</button>
                </div> -->
            </div>
        </div>
        


        <div class="new-hire-request-parent">
            
            <!-- <div class="navigation-header-input-div-table">
                <input type="text" placeholder="Search" id="book-description-input"/>
                <i class="fa-solid fa-magnifying-glass"></i>
            </div> -->
            <div class="input-count-btn">
                <!-- <div class="input-count-div">
                    <p id="char-count">0/500 char</p>
                </div> -->
                <div class="input-count-btn-div">
                    <button>Create new user</button>
                </div>
            </div>
        </div>

        
    </div>


    
    <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>User Name</th>
              <th>Role</th>
              <th>Last Active</th>
              <th>Activities</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="table-body">
            <tr>
              <td>
                <div class="checkbox-container">
                  <input type="checkbox" id="checkbox-1">
                  <div>
                    <div class="major">Ramesh</div>
                    <div class="minor">ramesh.m@placenow.in</div>
                  </div>
                </div>
              </td>
              <td>
                <div>
                    <div>Recruiter</div>
                </div>
            </td>
              <td>
                <div>
                    <div>5 hours ago</div>

                </div>
              </td>
              <td class="description" onclick="toggleDescription(this)">
                1. Post web developer vanacy post - Mar. 10
                2. Post web designer vanacy post - Mar. 11
                3. Post App Engineer vanacy post - Mar. 12
                4. Downloaded 10 Candidates Resume - Mar. 19
              </td>
              <td>
                <div>
                    <div>Active</div>
                </div>
              </td>
              <td>
                <a href="#" class="action-btn edit-btn">Edit</a>
                <a href="#" class="action-btn delete-btn">Delete</a>

              </td>
            </tr>

            <tr>
              <td>
                <div class="checkbox-container">
                  <input type="checkbox" id="checkbox-1">
                  <div>
                    <div class="major">Kumar</div>
                    <div class="minor">kumar.m@placenow.in</div>
                  </div>
                </div>
              </td>
              <td>
                <div>
                    <div>Recruiter</div>
                </div>
            </td>
              <td>
                <div>
                    <div>5 hours ago</div>

                </div>
              </td>
              <td class="description" onclick="toggleDescription(this)">
                1. Post web developer vanacy post - Mar. 10
                2. Post web designer vanacy post - Mar. 11
                3. Post App Engineer vanacy post - Mar. 12
                4. Downloaded 10 Candidates Resume - Mar. 19
              </td>
              <td>
                <div>
                    <div>Inactive</div>
                </div>
              </td>
              <td>
                <a href="#" class="action-btn edit-btn">Activate</a>
                <a href="#" class="action-btn delete-btn">Delete</a>

              </td>
            </tr>
     


          </tbody>
        </table>
    </div>






    
</div>