<div class="right-div-table">
    <div class="new-hire-request-search">
        <div class="new-hire-request-parent">
            <!-- <div class="new-hire-request-div">
                <p>New Hire Request</p>
                <i class="fa-solid fa-angle-down"></i>
            </div>
            <div class="dev-text">
                <p>web Developer , support Engineer</p>

            </div> -->
            <div class="checkbox-1-table">
                <!-- <div class="checkbox-1-1-table">
                   <input type="checkbox" class="input-check"/>
                   <p>select All</p> 
                </div> -->
                <!-- <div class="checkbox-1-count-table">
                    <button>Delete</button>
                </div> -->
            </div>
        </div>
        

<!-- 
        <div class="new-hire-request-parent">
            
             <div class="navigation-header-input-div-table">
                <input type="text" placeholder="Search" id="book-description-input"/>
                <i class="fa-solid fa-magnifying-glass"></i>
            </div> 
            <div class="input-count-btn">
                <<div class="input-count-div">
                    <p id="char-count">0/500 char</p>
                </div> 
                <div class="input-count-btn-div">
                    <button>Buy new Package</button>
                </div>
            </div>
        </div> -->

        
    </div>


    
    <div class="table-container">
        This page shows the activity of all the users with Time line
        <!-- <table> -->
          <!-- <thead>
            <tr>
              <th>Subscription Plan</th>
              <th>Package detail</th>
              <th>Usage</th>
              <th>Status</th>
              <th>Cost</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="table-body">
            <tr>
              <td>
                <div class="checkbox-container">
                  <input type="checkbox" id="checkbox-1">
                  <div>
                    <div class="major">Basic</div>
                  </div>
                </div>
              </td>
              <td>
                <div>
                    <div>5 Job Posting</div>
                    <div>50 CV Downloading</div>
                </div>
            </td>
              <td>
                <div>
                    <div>3 Job Posted</div>
                    <div>40 CV Downloaded</div>
                </div>
              </td>
              <td>Active</td>
              <td>
                <div>
                    <div><span class="INR">&#8377;</span> 1000</div>
                    <div class="minor">Bought on Feb. 10</div>
                </div>
              </td>
              <td>
                <a href="#" class="action-btn edit-btn">Renew</a>
                <a href="#" class="action-btn edit-btn">Upgrade</a>

              </td>
            </tr>
            <tr>
              <td>
                <div class="checkbox-container">
                  <input type="checkbox" id="checkbox-1">
                  <div>
                    <div class="major">Premium</div>
                  </div>
                </div>
              </td>
              <td>
                <div>
                    <div>50 Job Posting</div>
                    <div>200 CV Downloading</div>
                </div>
            </td>
              <td>
                <div>
                    <div>10 Job Posted</div>
                    <div>90 CV Downloaded</div>
                </div>
              </td>
              <td>Active</td>
              <td>
                <div>
                    <div><span class="INR">&#8377;</span> 3000</div>
                    <div class="minor">Bought on Feb. 10</div>
                </div>
              </td>
              <td>
                <a href="#" class="action-btn edit-btn">Renew</a>
                <a href="#" class="action-btn edit-btn">Upgrade</a>

              </td>
            </tr>
            <tr>
              <td>
                <div class="checkbox-container">
                  <input type="checkbox" id="checkbox-1">
                  <div>
                    <div class="major">Premium</div>
                  </div>
                </div>
              </td>
              <td>
                <div>
                    <div>50 Job Posting</div>
                    <div>200 CV Downloading</div>
                </div>
            </td>
              <td>
                <div>
                    <div>50 Job Posted</div>
                    <div>200 CV Downloaded</div>
                </div>
              </td>
              <td>Expired</td>
              <td>
                <div>
                    <div><span class="INR">&#8377;</span> 3000</div>
                    <div class="minor">Bought on Feb. 10</div>
                </div>
              </td>
              <td>
                <a href="#" class="action-btn edit-btn">Renew</a>


              </td>
            </tr>
            <tr>
              <td>
                <div class="checkbox-container">
                  <input type="checkbox" id="checkbox-1">
                  <div>
                    <div class="major">Basic</div>
                  </div>
                </div>
              </td>
              <td>
                <div>
                    <div>5 Job Posting</div>
                    <div>50 CV Downloading</div>
                </div>
            </td>
              <td>
                <div>
                    <div>3 Job Posted</div>
                    <div>40 CV Downloaded</div>
                </div>
              </td>
              <td>Expired</td>
              <td>
                <div>
                    <div><span class="INR">&#8377;</span> 1000</div>
                    <div class="minor">Bought on Feb. 10</div>
                </div>
              </td>
              <td>
                <a href="#" class="action-btn edit-btn">Renew</a>


              </td>
            </tr>
            <tr>
              <td>
                <div class="checkbox-container">
                  <input type="checkbox" id="checkbox-1">
                  <div>
                    <div class="major">Basic</div>
                  </div>
                </div>
              </td>
              <td>
                <div>
                    <div>5 Job Posting</div>
                    <div>50 CV Downloading</div>
                </div>
            </td>
              <td>
                <div>
                    <div>3 Job Posted</div>
                    <div>40 CV Downloaded</div>
                </div>
              </td>
              <td>Expired</td>
              <td>
                <div>
                    <div><span class="INR">&#8377;</span> 1000</div>
                    <div class="minor">Bought on Feb. 10</div>
                </div>
              </td>
              <td>
                <a href="#" class="action-btn edit-btn">Renew</a>


              </td>
            </tr>
            <tr>
              <td>
                <div class="checkbox-container">
                  <input type="checkbox" id="checkbox-1">
                  <div>
                    <div class="major">Basic</div>
                  </div>
                </div>
              </td>
              <td>
                <div>
                    <div>5 Job Posting</div>
                    <div>50 CV Downloading</div>
                </div>
            </td>
              <td>
                <div>
                    <div>3 Job Posted</div>
                    <div>40 CV Downloaded</div>
                </div>
              </td>
              <td>Expired</td>
              <td>
                <div>
                    <div><span class="INR">&#8377;</span> 1000</div>
                    <div class="minor">Bought on Feb. 10</div>
                </div>
              </td>
              <td>
                <a href="#" class="action-btn edit-btn">Renew</a>

              </td>
            </tr>
            <tr>
              <td>
                <div class="checkbox-container">
                  <input type="checkbox" id="checkbox-1">
                  <div>
                    <div class="major">Basic</div>
                  </div>
                </div>
              </td>
              <td>
                <div>
                    <div>5 Job Posting</div>
                    <div>50 CV Downloading</div>
                </div>
            </td>
              <td>
                <div>
                    <div>3 Job Posted</div>
                    <div>40 CV Downloaded</div>
                </div>
              </td>
              <td>Expired</td>
              <td>
                <div>
                    <div><span class="INR">&#8377;</span> 1000</div>
                    <div class="minor">Bought on Feb. 10</div>
                </div>
              </td>
              <td>
                <a href="#" class="action-btn edit-btn">Renew</a>


              </td>
            </tr>
            <tr>
              <td>
                <div class="checkbox-container">
                  <input type="checkbox" id="checkbox-1">
                  <div>
                    <div class="major">Basic</div>
                  </div>
                </div>
              </td>
              <td>
                <div>
                    <div>5 Job Posting</div>
                    <div>50 CV Downloading</div>
                </div>
            </td>
              <td>
                <div>
                    <div>3 Job Posted</div>
                    <div>40 CV Downloaded</div>
                </div>
              </td>
              <td>Expired</td>
              <td>
                <div>
                    <div><span class="INR">&#8377;</span> 1000</div>
                    <div class="minor">Bought on Feb. 10</div>
                </div>
              </td>
              <td>
                <a href="#" class="action-btn edit-btn">Renew</a>


              </td>
            </tr>
            <tr>
              <td>
                <div class="checkbox-container">
                  <input type="checkbox" id="checkbox-1">
                  <div>
                    <div class="major">Basic</div>
                  </div>
                </div>
              </td>
              <td>
                <div>
                    <div>5 Job Posting</div>
                    <div>50 CV Downloading</div>
                </div>
            </td>
              <td>
                <div>
                    <div>3 Job Posted</div>
                    <div>40 CV Downloaded</div>
                </div>
              </td>
              <td>Expired</td>
              <td>
                <div>
                    <div><span class="INR">&#8377;</span> 1000</div>
                    <div class="minor">Bought on Feb. 10</div>
                </div>
              </td>
              <td>
                <a href="#" class="action-btn edit-btn">Renew</a>


              </td>
            </tr>
            <tr>
              <td>
                <div class="checkbox-container">
                  <input type="checkbox" id="checkbox-1">
                  <div>
                    <div class="major">Basic</div>
                  </div>
                </div>
              </td>
              <td>
                <div>
                    <div>5 Job Posting</div>
                    <div>50 CV Downloading</div>
                </div>
            </td>
              <td>
                <div>
                    <div>3 Job Posted</div>
                    <div>40 CV Downloaded</div>
                </div>
              </td>
              <td>Expired</td>
              <td>
                <div>
                    <div><span class="INR">&#8377;</span> 1000</div>
                    <div class="minor">Bought on Feb. 10</div>
                </div>
              </td>
              <td>
                <a href="#" class="action-btn edit-btn">Renew</a>

              </td>
            </tr>

          </tbody>
        </table> -->
    </div>






    
</div>