
{% extends "recruiters/layout.html" %}

{% block title %}
Search Result
{% endblock title %}
{% load static %}
{% block statics %}
<link rel="stylesheet" href="{% static 'css/recruiters/post-left.css' %}">
<link rel="stylesheet" href="{% static 'css/recruiters/post-right.css' %}">
<link rel="stylesheet" href="{% static 'css/recruiters/post-filter-mobile.css' %}">
<link rel="stylesheet" href="{% static 'css/jobs.css' %}">
{% comment %} <link rel="stylesheet" href="{% static 'css/recruiters/old/create-job.css' %}"> {% endcomment %}

<script src="{% static 'js/recruiters/post.js' %}" defer></script>
<script src="{% static 'js/jobseeker/search-bar-recommandation.js' %}" defer></script>
<style>


.total-candidates{
    display: block;
    font-size: .7rem;
    margin: 10px 0;
    width: 100vh;
    position: relative;
    left: 73vh;
}

.description {
    font-size: 13px;
    color: #666;
    line-height: 1.5;
    height: calc(1.5em * 1.3);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.form{
    border: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.job-card{
    margin-bottom: 20px;
}




.r-down-main{
    width: 100%;
    padding:unset;
}
.r-right-down-main{
    left: 0;
}
.right-top{
    width:unset;
    margin:20px;
    box-shadow: unset;
}



    /* Main container styling */
    .search-container {
        max-width: 600px;
        margin: 20px auto;
        position: relative;
    }

    /* Search input styling */
    .search-container input[type="text"]{
        width: 100%;
        padding: 10px 15px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 5px;
        height: 50px;

    }
    .search-bar input[type="text"] {
    padding: 0px 0 0px 20px;
    width: 150px;
    }
    .min-exp , .max-exp {
        border: none;
    outline: none;
    font-size: medium;
    width: 135px;
    height: 50px;
    color: #555;
    }
    /* Recommendation dropdown styling */
    .recommendation-box {
        position: absolute;
        top: 10%;
        left: 30%;
        width: auto;
        max-width: 300px;
        height: auto;
        max-height: 300px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-height: 300px;
        overflow: auto;
        z-index: 1000;
        display: none; /* Initially hidden */
    }

    /* Recommendation item styling */
    .recommendation-item {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
    }

    .recommendation-item:hover {
        background-color: #f0f0f0;
    }
    form {
        margin-top: unset;
    }

    .bookmark-icon {
        font-size: 1.3em;
        color: #aaa;
        /* cursor: pointer; */
        transition: color 0.3s ease;
    }
.search-form {
    display: flex;
    align-items: center;
    height: 50px;
}
.search-bar .search-button {    
    padding: 12px 33px;
}
</style>
{% endblock statics %}


{% block content %}

{% load currency_filters %}



          <div class="r-right-down-main">
            <div class="r-down-main">
                <div class="list-main">
                    <div class="list-left">
                        
                        <div class="form">
                            <form method="post" action="#">
                                <div class="filters-div">
                                    <i class="fa-solid fa-arrow-down-wide-short"></i>
                                    <h1>Filters</h1>
                                </div>
                                    {% comment %} <button name="filter_jobs" type="submit" class="filter-button">Filter</button> {% endcomment %}

                                    <div class="job-status-div">
                                        <div class="job-status-div-text">
                                            <p>Roles</p>
    
    
                                        </div>
                                        <div class="checkbox-div">
                                            <div class="checkbox-1">
                                                <div class="checkbox-1-1">
                                                   <input type="checkbox" class="input-check"/>
                                                   <p>Software developer</p> 
                                                </div>
                                                <div class="checkbox-1-count">
                                                    <p>1</p>
                                                </div>
                                            </div>
    
                                            <div class="checkbox-1">
                                                <div class="checkbox-1-1">
                                                   <input type="checkbox" class="input-check"/>
                                                   <p>Software Engineer</p> 
                                                </div>
                                                <div class="checkbox-1-count">
                                                    <p>1</p>
                                                </div>
                                            </div>
    
                                            <div class="checkbox-1">
                                                <div class="checkbox-1-1">
                                                   <input type="checkbox" class="input-check"/>
                                                   <p>Software designer</p> 
                                                </div>
                                                <div class="checkbox-1-count">
                                                    <p>2</p>
                                                </div>
                                            </div>
                                        </div>
    

                                    </div>


                            {% comment %}  {% endcomment %}
                            <div class="job-status-div-2">
                                <div class="job-status-div-text">
                                    <p>Work Location</p>

                                </div>
                                <div class="input-div-down">
                                    <input type="text" class="input" placeholder="Search by location"/> 
                                </div>
                                <div class="checkbox-div">
                                    <div class="checkbox-1">
                                        <div class="checkbox-1-1">
                                        <input type="checkbox" class="input-check"/>
                                        <p>Chennai</p> 
                                        </div>
                                        <div class="checkbox-1-count">
                                            <p>1</p>
                                        </div>
                                    </div>

                                    <div class="checkbox-1">
                                        <div class="checkbox-1-1">
                                        <input type="checkbox" class="input-check"/>
                                        <p>Vellore</p> 
                                        </div>
                                        <div class="checkbox-1-count">
                                            <p>1</p>
                                        </div>
                                    </div>

                                    <div class="checkbox-1">
                                        <div class="checkbox-1-1">
                                        <input type="checkbox" class="input-check"/>
                                        <p>Relocate</p> 
                                        </div>
                                        <div class="checkbox-1-count">
                                            <p>2</p>
                                        </div>
                                    </div>
                                </div>






                                

                            </div>
                            {% comment %}  {% endcomment %}

                                    {% comment %} <button name="filter_jobs" type="submit" class="filter-button">Filter</button> {% endcomment %}

                                    <div class="job-status-div">
                                        <div class="job-status-div-text">
                                            <p>Previous Company</p>
    
    
                                        </div>
                                        <div class="checkbox-div">
                                            <div class="checkbox-1">
                                                <div class="checkbox-1-1">
                                                   <input type="checkbox" class="input-check"/>
                                                   <p>ABC Pvt Ltd</p> 
                                                </div>
                                                <div class="checkbox-1-count">
                                                    <p>1</p>
                                                </div>
                                            </div>
    
                                            <div class="checkbox-1">
                                                <div class="checkbox-1-1">
                                                   <input type="checkbox" class="input-check"/>
                                                   <p>QWR Pvt Ltd</p> 
                                                </div>
                                                <div class="checkbox-1-count">
                                                    <p>1</p>
                                                </div>
                                            </div>
    
                                            <div class="checkbox-1">
                                                <div class="checkbox-1-1">
                                                   <input type="checkbox" class="input-check"/>
                                                   <p>XYZ Pvt Ltd</p> 
                                                </div>
                                                <div class="checkbox-1-count">
                                                    <p>2</p>
                                                </div>
                                            </div>
                                        </div>
    
    
    
    
    
    
                                        
    
                                    </div>

                                    {% comment %} <button name="filter_jobs" type="submit" class="filter-button">Filter</button> {% endcomment %}

                                    <div class="job-status-div">
                                        <div class="job-status-div-text">
                                            <p>Notice period</p>
    
    
                                        </div>
                                        <div class="checkbox-div">
                                            <div class="checkbox-1">
                                                <div class="checkbox-1-1">
                                                   <input type="checkbox" class="input-check"/>
                                                   <p>15 Days</p> 
                                                </div>
                                                <div class="checkbox-1-count">
                                                    <p>1</p>
                                                </div>
                                            </div>
    
                                            <div class="checkbox-1">
                                                <div class="checkbox-1-1">
                                                   <input type="checkbox" class="input-check"/>
                                                   <p>1 Month</p> 
                                                </div>
                                                <div class="checkbox-1-count">
                                                    <p>1</p>
                                                </div>
                                            </div>
    
                                            <div class="checkbox-1">
                                                <div class="checkbox-1-1">
                                                   <input type="checkbox" class="input-check"/>
                                                   <p>2 Month</p> 
                                                </div>
                                                <div class="checkbox-1-count">
                                                    <p>2</p>
                                                </div>
                                            </div>
                                        </div>
    
    
    
    
    
    
                                        
    
                                    </div>
    
                                    {% comment %} <button name="filter_jobs" type="submit" class="filter-button">Filter</button> {% endcomment %}

                                <div class="job-status-div">
                                    <div class="job-status-div-text">
                                        <p>Education</p>


                                    </div>
                                    <div class="checkbox-div">
                                        <div class="checkbox-1">
                                            <div class="checkbox-1-1">
                                               <input type="checkbox" class="input-check"/>
                                               <p>B.Tech</p> 
                                            </div>
                                            <div class="checkbox-1-count">
                                                <p>1</p>
                                            </div>
                                        </div>

                                        <div class="checkbox-1">
                                            <div class="checkbox-1-1">
                                               <input type="checkbox" class="input-check"/>
                                               <p>M.Tech</p> 
                                            </div>
                                            <div class="checkbox-1-count">
                                                <p>1</p>
                                            </div>
                                        </div>

                                        <div class="checkbox-1">
                                            <div class="checkbox-1-1">
                                               <input type="checkbox" class="input-check"/>
                                               <p>Diplamo</p> 
                                            </div>
                                            <div class="checkbox-1-count">
                                                <p>2</p>
                                            </div>
                                        </div>
                                    </div>






                                    

                                </div>



{% comment %}  {% endcomment %}



                                <div class="job-status-div-3">
                                    <div class="job-status-div-text">
                                        <p>Experience</p>


                                    </div>

                                    <div class="checkbox-div">
                                        <div class="slider-wrapper">
                                            <span id="experienceLabel" class="experience-label">Any</span>
                                            <input type="range" id="experienceSlider" min="-1" max="21" name="experience" value="-1" oninput="updateExperienceLabel(this.value)">
                                        </div>

                                        
                                    </div>






                                    

                                </div>

                                    {% comment %} <button name="filter_jobs" type="submit" class="filter-button">Filter</button> {% endcomment %}

                                    <div class="job-status-div">
                                        <div class="job-status-div-text">
                                            <p>Gender</p>
    
    
                                        </div>
                                        <div class="checkbox-div">
                                            <div class="checkbox-1">
                                                <div class="checkbox-1-1">
                                                   <input type="checkbox" class="input-check"/>
                                                   <p>Male</p> 
                                                </div>
                                                <div class="checkbox-1-count">
                                                    <p>1011</p>
                                                </div>
                                            </div>
    
                                            <div class="checkbox-1">
                                                <div class="checkbox-1-1">
                                                   <input type="checkbox" class="input-check"/>
                                                   <p>Female</p> 
                                                </div>
                                                <div class="checkbox-1-count">
                                                    <p>502</p>
                                                </div>
                                            </div>
    
                                            <div class="checkbox-1">
                                                <div class="checkbox-1-1">
                                                   <input type="checkbox" class="input-check"/>
                                                   <p>Others</p> 
                                                </div>
                                                <div class="checkbox-1-count">
                                                    <p>22</p>
                                                </div>
                                            </div>
                                        </div>
    
    
    
    
    
    
                                        
    
                                    </div>
                                    {% comment %} <button name="filter_jobs" type="submit" class="filter-button">Filter</button> {% endcomment %}

                                    <div class="job-status-div">
                                        <div class="job-status-div-text">
                                            <p>Age</p>
    
    
                                        </div>
                                        <div class="checkbox-div">
                                            <div class="checkbox-1">
                                                <div class="checkbox-1-1">
                                                   <input type="checkbox" class="input-check"/>
                                                   <p>18 to 20</p> 
                                                </div>
                                                <div class="checkbox-1-count">
                                                    <p>11</p>
                                                </div>
                                            </div>
    
                                            <div class="checkbox-1">
                                                <div class="checkbox-1-1">
                                                   <input type="checkbox" class="input-check"/>
                                                   <p>20 to 25</p> 
                                                </div>
                                                <div class="checkbox-1-count">
                                                    <p>52</p>
                                                </div>
                                            </div>
    
                                            <div class="checkbox-1">
                                                <div class="checkbox-1-1">
                                                   <input type="checkbox" class="input-check"/>
                                                   <p>25 to 30</p> 
                                                </div>
                                                <div class="checkbox-1-count">
                                                    <p>22</p>
                                                </div>
                                            </div>
                                        </div>
    
    
    
    
    
    
                                        
    
                                    </div>
                                    {% comment %} <button name="filter_jobs" type="submit" class="filter-button">Filter</button> {% endcomment %}

                                    <div class="job-status-div">
                                        <div class="job-status-div-text">
                                            <p>Verified</p>
    
    
                                        </div>
                                        <div class="checkbox-div">
                                            <div class="checkbox-1">
                                                <div class="checkbox-1-1">
                                                   <input type="checkbox" class="input-check"/>
                                                   <p>Email</p> 
                                                </div>
                                                <div class="checkbox-1-count">
                                                    <p>11</p>
                                                </div>
                                            </div>
    
                                            <div class="checkbox-1">
                                                <div class="checkbox-1-1">
                                                   <input type="checkbox" class="input-check"/>
                                                   <p>Phone</p> 
                                                </div>
                                                <div class="checkbox-1-count">
                                                    <p>52</p>
                                                </div>
                                            </div>
    
                                            <div class="checkbox-1">
                                                <div class="checkbox-1-1">
                                                   <input type="checkbox" class="input-check"/>
                                                   <p>Resume Attached</p> 
                                                </div>
                                                <div class="checkbox-1-count">
                                                    <p>22</p>
                                                </div>
                                            </div>
                                        </div>
    
    
    
    
    
    
                                        
    
                                    </div>

                                

                            </form>

                        </div>
                        







                    </div>
                    <div class="list-right">
                        <div class="right-div">
                            <div class="m-right-top">
                                <button class="text buttons">+ Publish vacancy</button>
                            </div>

                                <div class="search-bar">
                                    <form method="get" action="{% url 'recruiters:find_candidates' %}" id="jobSearchForm" class="search-form">  
                                        
                                        <input type="text" name="q" placeholder="Key Skills / Roles" id="searchInput" autocomplete="off" required="">
                                        <div class="recommendation-box" id="recommendationBox">
                            
                                            {% for title in titles %}
                                            <div class="recommendation-item">
                                            <span>{{title}}</span>
                                            </div>
                                            {% endfor %}
                                                
                            
                                        </div>
                                        <div class="divider"></div> <!-- Divider -->
                                        <input type="text" name="p" placeholder="Location">
                                        <div class="divider"></div> <!-- Divider -->
                                        <select class="min-exp">
                                            <option>Min Exprience</option>
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>5</option>
                                            <option>10</option>
                                            <option>15</option>
                                            <option>20+</option>
                                        </select>
                                        <div class="divider"></div> <!-- Divider -->
                                        <select class="max-exp">
                                            <option>Max Exprience</option>
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>5</option>
                                            <option>10</option>
                                            <option>15</option>
                                            <option>20+</option>
                                        </select>
                                        <button type="submit" class="search-button">Search</button>
                                    </form>
                                </div>



{% comment %} 

                            <div class="right-middle">
                                <div class="select">
                               <input type="checkbox" class="check"/>
                                    <p>Select All</p> 
                                </div>
                                <select class="post-date-clicking">
                                    <option>Posted date: newest</option>
                                    <option>Posted date: oldest</option>
                                    <option>Job title: A - Z</option>
                                    <option>Job title: Z - A</option>
                                </select>

                            </div> {% endcomment %}

                            <span class="total-candidates">
                                1 - 5 of 5 
                                <strong>General Manager</strong> Roles
                            </span>

{% comment %} 
                            <div class="right-box-1">
                                <div class="right-box-1-content">
                                    <div class="c-box-1">
                                        <div class="support">
                                            <div class="input-text">
                                            <input type="checkbox" class="check"/> 
                                                <div class="c-1-text">
                                                    <p class="text-1">Support Engineer</p>
                                                    <p class="text-2">Ahmedabad</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Expired">
                                            <p>Expired</p>
                                            <i class="fa-regular fa-clock"></i>
                                        </div>
                                    </div>


                                    <div class="c-box-2">
                                        <div class="num-1">
                                            <p class="num">7</p>
                                            <p class="num-text">Viewed</p>
                                        </div>
                                        <div class="num-2">
                                            <p class="num">7</p>
                                            <p class="num-text">Action</p>
                                        </div>
                                        <div class="num-3">
                                            <p class="num">54</p>
                                            <p class="num-text">Applied</p>
                                        </div>
                                    </div>


                                    <div class="c-box-3">
                                        <div class="Report">
                                            <p>Report</p>
                                            <i class="fa-solid fa-ellipsis-vertical" id="c-3-show"></i>
                                        </div>
                                        <div class="c-3-postion" id="c-3-post">
                                            <div class="c-3-postion-1">
                                                <a>Preview Post</a>
                                            </div>
                                            <div class="c-3-postion-2">
                                                <a>Close vacancy</a>
                                            </div>
                                        </div>
                                        <div class="date">
                                            <p>Post By Me:20 Jan 2025</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="hightlight">
                                    <p class="one">The job posting has expired would you like to .</p>
                                    <p></p>

                                    <p class="underline two">Repost it </p><p></p>
                                    <p class="three">. or </p><p></p>
                                    <p class="underline four"> . Closed it ?</p>
                                </div>
                            </div>
 {% endcomment %}




{% for candidate in candidates %}
<div class="job-card">
    <div class="job-header">
        <div>
            <h2>{{ candidate.first_name }} {{ candidate.last_name }}</h2>
            <p class="company-name">{{ candidate.my_employment.0.company_role|default:"-" }}</p>
        </div>

        <a href="{% url 'recruiters:candidate' candidate_uuid=candidate.candidate_uuid %}" class="apply-job">View</a>
    </div>

    <div class="job-details">
        <p class="details-row">
            <span><i class="fas fa-briefcase"></i>
                {% if candidate.work_experience_years or candidate.work_experience_months %}
                {% if candidate.work_experience_years %}
                    {{ candidate.work_experience_years|default:0 }} years
                {% endif %}
                {% if candidate.work_experience_months %}
                    {{ candidate.work_experience_months|default:0 }} months
                {% endif %}
                {% else %}
                    Fresher
                {% endif %}
            </span>
            <span><i class="fa fa-indian-rupee-sign"></i>
                {% if candidate.expected_ctc_amount %}
                    {{ candidate.expected_ctc_amount|inr_format|default:"Not Disclosed"  }}
                    {{ candidate.get_expected_ctc_type_display|default_if_none:"" }}
                {% elif candidate.expected_take_home_amount %}
                    {{ candidate.expected_take_home_amount|inr_format|default:"Not Disclosed"  }}
                    {{ candidate.get_expected_take_home_type_display|default_if_none:"" }}
                {% elif candidate.present_ctc_amount %}
                    {{ candidate.present_ctc_amount|inr_format|default:"Not Disclosed"  }}
                    {{ candidate.get_present_ctc_type_display|default_if_none:"" }}
                {% elif candidate.present_take_home_amount %}
                    {{ candidate.present_take_home_amount|inr_format|default:"Not Disclosed"  }}
                    {{ candidate.get_present_take_home_type_display|default_if_none:"" }}
                {% else %}
                    Not Disclosed
                {% endif %}

            </span>
            <span><i class="fas fa-map-marker-alt"></i>
                {{ candidate.city|default:"-" }}, {{ candidate.state|default:"-" }}
            </span>
        </p>

        <div class="skills">
        {% for skill in candidate.skill_list %}
            <span class="key-skills">{{ skill }}</span>
        {% empty %}
            <span class="key-skills">No skills listed</span>
        {% endfor %}
        </div>

        <p3 class="description">
            <span style="display: inline-block;width: 20%;">Employment</span>
            <span style="display: inline-block;width: 70%;">
                {% if candidate.my_employment.0 %}
                {{ candidate.my_employment.0.company_role }} at {{ candidate.my_employment.0.company_name }}
                {% else %}

                No education listed
                {% endif %}
            </span>

        </p3>

        <p3 class="description">
            <span style="display: inline-block;width: 20%;">Education</span>
            <span style="display: inline-block;width: 70%;">
                {% if candidate.my_education.0 %}
                {{ candidate.my_education.0.edu_id }} from {{ candidate.my_education.0.institute }}
                {% else %}

                No education listed
                {% endif %}
                
            </span>

        </p3>
        <p3 class="description">
            <span style="display: inline-block;width: 20%;">Pref. Location</span>
            <span style="display: inline-block;width: 70%;">
                {{ candidate.preferred_location|default:"No Pref. location listed" }}
                {% if candidate.is_relocate %}, Prefer to relocate{% endif %}                
            </span>

        </p3>
        <p3 class="description">
            <span style="display: inline-block;width: 20%;">known languages </span>
            <span style="display: inline-block;width: 70%;">
                {% for lan in candidate.my_language %}
                    {{ lan.language_id.language }} ,
                {% empty %}
                No languages listed
                {% endfor %}
            </span>

        </p3>

    </div>

    <div class="job-footer">
        <span>Last update: {{ candidate.last_update|timesince }} ago</span>

        <form method="POST" action="/bookmark/">
            {% csrf_token %}
            <input type="hidden" name="slug" value="{{ candidate.candidate_uuid }}">

            <button type="submit" class="save_job" name="unlist_job">
                <i class="fa-solid fa-user-slash bookmark-icon"></i>
                <span class="save-text">Unlist</span>
            </button>

            <span class="divider"></span>

            <button type="submit" class="save_job" name="save_job">
                <i class="fa-solid fa-bookmark bookmark-icon"></i>
                <span class="save-text">Save</span>
            </button>
        </form>
    </div>
</div>
        <div class="pagination">
          {% if page_obj.has_previous %}
            <a href="?q={{ keyword1 }}&p={{ keyword2 }}&page={{ page_obj.previous_page_number }}">Previous</a>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
              <span class="current">{{ num }}</span>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
              <a href="?q={{ keyword1 }}&p={{ keyword2 }}&page={{ num }}">{{ num }}</a>
            {% elif num == 1 or num == page_obj.paginator.num_pages %}
              <a href="?q={{ keyword1 }}&p={{ keyword2 }}&page={{ num }}">{{ num }}</a>
            {% elif num == page_obj.number|add:'-4' or num == page_obj.number|add:'4' %}
              <span>...</span>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <a href="?q={{ keyword1 }}&p={{ keyword2 }}&page={{ page_obj.next_page_number }}" class="last">Next</a>
          {% endif %}
        </div>

{% empty %}
No Record found
{% endfor %}











{% comment %} 

                            <div class="right-box-1">
                                <div class="right-box-1-content">
                                    <div class="c-box-1">
                                        <div class="support">
                                            <div class="input-text">
                                              <input type="checkbox" class="check"/> 
                                                <div class="c-1-text">
                                                    <p class="text-1">Support Engineer</p>
                                                    <p class="text-2">Ahmedabad</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Expired">
                                            <p>Expired</p>
                                            <i class="fa-regular fa-clock"></i>
                                        </div>
                                    </div>


                                    <div class="c-box-2">
                                        <div class="num-1">
                                            <p class="num">7</p>
                                            <p class="num-text">Viewed</p>
                                        </div>
                                        <div class="num-2">
                                            <p class="num">7</p>
                                            <p class="num-text">Action</p>
                                        </div>
                                        <div class="num-3">
                                            <p class="num">54</p>
                                            <p class="num-text">Applied</p>
                                        </div>
                                    </div>


                                    <div class="c-box-3">
                                        <div class="Report">
                                            <p>Report</p>
                                            <i class="fa-solid fa-ellipsis-vertical" id="c-3-show"></i>
                                        </div>
                                        <div class="c-3-postion" id="c-3-post">
                                            <div class="c-3-postion-1">
                                                <a>Preview Post</a>
                                            </div>
                                            <div class="c-3-postion-2">
                                                <a>Close vacancy</a>
                                            </div>
                                        </div>
                                        <div class="date">
                                            <p>Post By Me:20 Jan 2025</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="hightlight">
                                    <p class="one">The job posting has expired would you like to .</p>
                                    <p></p>

                                    <p class="underline two">Repost it </p><p></p>
                                    <p class="three">. or </p><p></p>
                                    <p class="underline four"> . Closed it ?</p>
                                </div>
                            </div> {% endcomment %}

                            
                        </div>
                    </div>

                </div>



                
            </div>



            </div>

<!--testing-->
    {% endblock content %}














    {% block mobile_view %}
    <div class="m1-filter-div" id="m1-filter-div">
        <div class="m-list-left">
                            
            <div class="form">
                <form method="post" action="#">
                    <div class="filters-div">
                        <i class="fa-solid fa-arrow-down-wide-short"></i>
                        <h1>Filters</h1>
                        <div class="x-mark" id="x-mark" onclick="mobileView(false)">
                            <p class="X">X</p>
                        </div>
                    </div>
                    
                    <div class="input-div">
                       <input type="text" class="input" placeholder=" Search Title,Job Id..."/> 

                    </div>

                    <div class="job-status-div">
                        <div class="job-status-div-text">
                            <p>Job Status</p>
                            <i class="fa-solid fa-angle-down"></i>

                        </div>
                        <div class="checkbox-div">
                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>Active Jobs</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>1</p>
                                </div>
                            </div>

                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>Expired Jobs</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>1</p>
                                </div>
                            </div>

                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>Closed Jobs</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>2</p>
                                </div>
                            </div>
                        </div>






                        

                    </div>




                    <div class="job-status-div-2">
                        <div class="job-status-div-text">
                            <p>Job Posted By</p>
                            <i class="fa-solid fa-angle-down"></i>

                        </div>
                        <div class="input-div-down">
                            <input type="text" class="input" placeholder=" Search Title,Job Id..."/> 
                        </div>
                        <div class="checkbox-div">
                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>Recruiter name</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>1</p>
                                </div>
                            </div>

                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>Recruiter name</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>1</p>
                                </div>
                            </div>

                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>Recruiter name</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>2</p>
                                </div>
                            </div>
                        </div>






                        

                    </div>




                    <div class="job-status-div-3">
                        <div class="job-status-div-text">
                            <p>Job Tittle</p>
                            <i class="fa-solid fa-angle-down"></i>

                        </div>
                        <div class="input-div-down">
                            <input type="text" class="input" placeholder=" Search Title,Job Id..."/> 
                        </div>
                        <div class="checkbox-div">
                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>App developer</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>1</p>
                                </div>
                            </div>

                            
                        </div>






                        

                    </div>



                    

                </form>

            </div>
            







        </div>

    </div>

{% endblock mobile_view %}
