
{% extends "recruiters/layout.html" %}

{% block title %}
Candidate Profile
{% endblock title %}
{% load static %}
{% block statics %}
<link rel="stylesheet" href="{% static 'css/recruiters/post-left.css' %}">
<link rel="stylesheet" href="{% static 'css/recruiters/post-right.css' %}">
<link rel="stylesheet" href="{% static 'css/recruiters/post-filter-mobile.css' %}">
<link rel="stylesheet" href="{% static 'css/jobs.css' %}">
{% comment %} <link rel="stylesheet" href="{% static 'css/recruiters/old/create-job.css' %}"> {% endcomment %}

<script src="{% static 'js/recruiters/post.js' %}" defer></script>
<script src="{% static 'js/jobseeker/search-bar-recommandation.js' %}" defer></script>
<style>

.kyc-card{
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 20px 20px;
    margin-bottom: 20px;
}

.total-candidates{
    display: block;
    font-size: .7rem;
    margin: 10px 0;
}

.description {
    font-size: 13px;
    color: #666;
    line-height: 1.5;
    height: calc(1.5em * 1.3);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.form{
    border: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.job-card{
    margin-bottom: 20px;
}


{% comment %} from open search {% endcomment %}

.r-down-main{
    width: 100%;
    padding:unset;
}
.r-right-down-main{
    left: 0;
}
.right-top{
    width:unset;
    margin:20px;
    box-shadow: unset;
}

{% comment %} for recommandation {% endcomment %}

    /* Main container styling */
    .search-container {
        max-width: 600px;
        margin: 20px auto;
        position: relative;
    }

    /* Search input styling */
    .search-container input[type="text"]{
        width: 100%;
        padding: 10px 15px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 5px;

    }
    .search-bar input[type="text"] {
        padding: 20px 0 20px 20px;
        width: 150px;
    }
    .min-exp , .max-exp {
    border: none;
    outline: none;
    padding: 20px 0;
    border-radius: 50px;
    font-size: medium;
     width: 135px; 
     color: #555;
    }
    /* Recommendation dropdown styling */
    .recommendation-box {
        position: absolute;
        top: 10%;
        left: 30%;
        width: auto;
        max-width: 300px;
        height: auto;
        max-height: 300px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-height: 300px;
        overflow: auto;
        z-index: 1000;
        display: none; /* Initially hidden */
    }

    /* Recommendation item styling */
    .recommendation-item {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
    }

    .recommendation-item:hover {
        background-color: #f0f0f0;
    }
    form {
        margin-top: unset;
    }

    .bookmark-icon {
        font-size: 1.3em;
        color: #aaa;
        /* cursor: pointer; */
        transition: color 0.3s ease;
    }


    .profile-pic {
        /* background-color: bisque; */
        height: 30%;
        width: 100%;
        display: flex
    ;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }    
</style>
{% endblock statics %}


{% block content %}





          <div class="r-right-down-main">
            <div class="r-down-main">
                <div class="list-main">
                    <div class="list-left">
                        
                        <div class="form">
                            <form method="post" action="#">
                                <div class="filters-div">
                                    <i class="fa-solid fa-arrow-down-wide-short"></i>
                                    <h1>Profile</h1>
                                </div>

    
                                    {% comment %} <button name="filter_jobs" type="submit" class="filter-button">Filter</button> {% endcomment %}


{% comment %}  {% endcomment %}

                                    {% comment %} <button name="filter_jobs" type="submit" class="filter-button">Filter</button> {% endcomment %}

                                    {% comment %} <button name="filter_jobs" type="submit" class="filter-button">Filter</button> {% endcomment %}

                                    {% comment %} <button name="filter_jobs" type="submit" class="filter-button">Filter</button> {% endcomment %}

                                    <div class="profile-pic">
                                        <div class="pic-div">
                                            
                                            <img src="/static/img/image.png" class="pic-photo" alt="profile pic" width="100%">
                                        
                                            {% comment %} <button class="btn">+</button> {% endcomment %}
                                        </div>
                                        
                                    </div>

                                

                            </form>
                            <div onclick="#" class="apply-job">Open Contact and download CV</div>
                        </div>
                        







                    </div>
                    <div class="list-right">
                        <div class="right-div">
                            <div class="m-right-top">
                                <button class="text buttons">+ Publish vacancy</button>
                            </div>










 <div class="job-card">
    <div class="job-header">
        <div>
            <h2>Naveen M</h2>
            <p class="company-name">General Manager</p>
        </div>
        
        {% comment %} <div onclick="window.location='/status/applied';" class="apply-job">View</div> {% endcomment %}
        {% comment %} <div onclick="#" class="apply-job">View</div> {% endcomment %}
        
    </div>

    <div class="job-details">

          <p class="details-row">
            <span><i class="fas fa-briefcase"></i>2 years 4 months</span>
            <span><i class="fa fa-indian-rupee-sign"></i>35000/Month</span>
            <span><i class="fa fa-gener"></i>Gender : Male</span>
            <span><i class="fa fa-age"></i>Age : 25</span>
          </p>
        <div class="skills">
            

            <span class="key-skills">Strategic planning</span>
            <span class="key-skills">Financial Management</span>
            <span class="key-skills">Interpersonal communication</span>
            <span class="key-skills">Decision-making</span>
        </div>
        <p3 class="description">
            <span style="display: inline-block;width: 20%;">Education</span>
            <span style="display: inline-block;width: 70%;">Diplamo/ITI , Don bosco disloma and polytechnic college , 2022</span>

        </p3>
        <p3 class="description">
            <span style="display: inline-block;width: 20%;">Education</span>
            <span style="display: inline-block;width: 70%;">Diplamo/ITI , Don bosco disloma and polytechnic college , 2022</span>

        </p3>
        <p3 class="description">
            <span style="display: inline-block;width: 20%;">Education</span>
            <span style="display: inline-block;width: 70%;">Diplamo/ITI , Don bosco disloma and polytechnic college , 2022</span>

        </p3>
        <p3 class="description">
            <span style="display: inline-block;width: 20%;">Pref. Location</span>
            <span style="display: inline-block;width: 70%;">Chennai , Prefer to relocate</span>

        </p3>
        <p3 class="description">
            <span style="display: inline-block;width: 20%;">known languages </span>
            <span style="display: inline-block;width: 70%;">English(R,W,S) , Tamil(R,W,S) , Hindi(S)</span>

        </p3>
    </div>

    <div class="job-footer">
        <span>Last seen : 1&nbsp;week, 3&nbsp;days ago</span>
        <span>Last update : 1&nbsp;week, 3&nbsp;days ago</span>
        <form method="POST" action="/bookmark/">
            <input type="hidden" name="csrfmiddlewaretoken" value="aXbM0paAFEsbcLgIuSmqrY4TbD8IKhjYqOvWLNCBdtFvq3tj6RKDKhAMnkk7llHA">
            <input type="hidden" value="web-msi-fe2dfff8" name="slug">
            <input type="checkbox" id="save4" class="bookmark-checkbox">
            <label for="save4">
                <button type="submit" class="save_job" name="save_job"><i class="fa-solid fa-user-slash bookmark-icon"></i><span class="save-text">Unlist<span></span></span></button>
                
            </label>
            <span class="divider"></span>
            <input type="checkbox" id="save4" class="bookmark-checkbox">
            <label for="save4">
                <button type="submit" class="save_job" name="save_job"><i class="fa-solid fa-bookmark bookmark-icon"></i><span class="save-text">Save<span></span></span></button>
                
            </label>
        </form>
        
    </div>
</div>


















{% comment %} 

                            <div class="right-box-1">
                                <div class="right-box-1-content">
                                    <div class="c-box-1">
                                        <div class="support">
                                            <div class="input-text">
                                              <input type="checkbox" class="check"/> 
                                                <div class="c-1-text">
                                                    <p class="text-1">Support Engineer</p>
                                                    <p class="text-2">Ahmedabad</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Expired">
                                            <p>Expired</p>
                                            <i class="fa-regular fa-clock"></i>
                                        </div>
                                    </div>


                                    <div class="c-box-2">
                                        <div class="num-1">
                                            <p class="num">7</p>
                                            <p class="num-text">Viewed</p>
                                        </div>
                                        <div class="num-2">
                                            <p class="num">7</p>
                                            <p class="num-text">Action</p>
                                        </div>
                                        <div class="num-3">
                                            <p class="num">54</p>
                                            <p class="num-text">Applied</p>
                                        </div>
                                    </div>


                                    <div class="c-box-3">
                                        <div class="Report">
                                            <p>Report</p>
                                            <i class="fa-solid fa-ellipsis-vertical" id="c-3-show"></i>
                                        </div>
                                        <div class="c-3-postion" id="c-3-post">
                                            <div class="c-3-postion-1">
                                                <a>Preview Post</a>
                                            </div>
                                            <div class="c-3-postion-2">
                                                <a>Close vacancy</a>
                                            </div>
                                        </div>
                                        <div class="date">
                                            <p>Post By Me:20 Jan 2025</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="hightlight">
                                    <p class="one">The job posting has expired would you like to .</p>
                                    <p></p>

                                    <p class="underline two">Repost it </p><p></p>
                                    <p class="three">. or </p><p></p>
                                    <p class="underline four"> . Closed it ?</p>
                                </div>
                            </div> {% endcomment %}

                            
                        </div>
                    </div>

                </div>



                
            </div>



            </div>


    {% endblock content %}














    {% block mobile_view %}
    <div class="m1-filter-div" id="m1-filter-div">
        <div class="m-list-left">
                            
            <div class="form">
                <form method="post" action="#">
                    <div class="filters-div">
                        <i class="fa-solid fa-arrow-down-wide-short"></i>
                        <h1>Profile</h1>
                        <div class="x-mark" id="x-mark" onclick="mobileView(false)">
                            <p class="X">X</p>
                        </div>
                    </div>
                    
                    <div class="input-div">
                       <input type="text" class="input" placeholder=" Search Title,Job Id..."/> 

                    </div>

                    <div class="profile-pic">
                        <div class="pic-div">
                            
                            <img src="/static/img/image.png" class="pic-photo" alt="profile pic" width="100%">
                        
                            <button class="btn">+</button>
                        </div>
                        
                    </div>



                    

                </form>

            </div>
            







        </div>

    </div>

{% endblock mobile_view %}
