<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}

      {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/recruiters/body.css' %}" />
    <link rel="stylesheet" href="{% static 'css/recruiters/top-nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/recruiters/side-nav-1.css' %}" />
    <link rel="stylesheet" href="{% static 'css/recruiters/side-nav-2.css' %}" />
    <link rel="stylesheet" href="{% static 'css/recruiters/side-nav-3.css' %}" />
    <link rel="stylesheet" href="{% static 'css/recruiters/side-nav-4.css' %}" />
    <link rel="stylesheet" href="{% static 'css/recruiters/side-nav-5.css' %}" />
    <link rel="stylesheet" href="{% static 'css/recruiters/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/error.css' %}" />
    <link rel="stylesheet" href="{% static 'css/notification.css' %}" />
    <link rel="stylesheet" href="{% static 'css/model.css' %}" />
    <link rel="stylesheet" href="{% static 'css/loading.css' %}" />    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% block statics %}

    {% endblock %}
    <script src="{% static 'js/recruiters/nav.js' %}" defer></script>
    <script src="{% static 'js/error.js' %}" defer></script>
    <script src="{% static 'js/jobseeker/notification.js' %}" defer></script>
    <script src="{% static 'js/modal.js' %}" defer></script>
    <script src="{% static 'js/loading.js' %}" defer></script>
    {% comment %} <script src="https://www.google.com/recaptcha/api.js" async defer></script> {% endcomment %}
    <script src="{% static 'js/htmx/2_0_5.min.js' %}" defer></script>

    <style>
        *{
            font-size: 14px;
        }

        .scroll-bg {
            position: fixed;
            top: 52px;

        }

        .flex-end{
            display: flex;
            justify-content: flex-end;
        }
        .top-button{
                margin: 0 0 0 10px;
                padding: 8px 20px;
                font-size: 16px;
                border-radius: 6px;
                border: none;
                background-color: #141b5f;
                color: #ffffff;
                cursor: pointer;
        }
    </style>     
  </head>
  <body>
    <div class="overlay" id="overlay"></div>
    <div class="parent" id="parent">
        <div class="r-left">
            <nav class="left-nav">
                <div class="nav-div">
                    <a href="#" class="active" id="close-menu"><i class="fa-solid fa-chevron-left"></i>Collapse</a>
                </div>
                <div class="nav-div-hide">
                    <a href="#" class="active" id="open-menu"><i class="fa-solid fa-chevron-right"></i></a>
                </div>
            </nav>
            
            <div class="left-down">
                <div class="l-box-div">

                    <div class="box-1">
                        <a href="{% url 'recruiters:home' %}" class="{% if request.resolver_match.url_name == 'home' or request.resolver_match.url_name == 'advance_search' %}active{% endif %}">
                            <div class="p">
                                <i class="fa-solid fa-magnifying-glass-chart"  style="font-size: 18px;"></i> <p>Open search</p>
                            </div>
                            <i class="fa-solid fa-caret-right"></i>
                        </a>
                        
                    </div>
                    <div class="box-1-hide">
                        <a href="{% url 'recruiters:home' %}" class="{% if request.resolver_match.url_name == 'home' or request.resolver_match.url_name == 'advance_search' %}active{% endif %}">
                            <i class="fa-solid fa-magnifying-glass-chart" style="font-size: 18px;"></i>
                        </a>
                    </div>
                    <div class="box-1">
                        <a href="{% url 'recruiters:post' %} " class="{% if request.resolver_match.url_name == 'post' or request.resolver_match.url_name == 'post_draft' or request.resolver_match.url_name == 'create_post' %}active{% endif %}">
                            <div class="p">
                                <i class="fa-solid fa-suitcase"></i> <p>Job posting</p> 
                            </div>
                            <i class="fa-solid fa-caret-right"></i>
                        </a>
                        
                    </div>
                    <div class="box-1-hide">
                        <a href="{% url 'recruiters:post' %}" class="{% if request.resolver_match.url_name == 'post' or request.resolver_match.url_name == 'post_draft' or request.resolver_match.url_name == 'create_post' %}active{% endif %}">
                            <i class="fa-solid fa-suitcase"></i> 
                        </a>
                    </div>
                    <div class="box-1">
                        <a href="{% url 'recruiters:hiring_tracker' %}" class="{% if request.resolver_match.url_name == 'hiring_tracker' %}active{% endif %}">
                            <div class="p">
                                <i class="fa-solid fa-building-user"></i> <p>Hiring Tracker</p>
                            </div>
                            <i class="fa-solid fa-caret-right"></i>
                        </a>
                        
                    </div>
                    <div class="box-1-hide">
                        <a href="{% url 'recruiters:hiring_tracker' %}" class="{% if request.resolver_match.url_name == 'hiring_tracker' %}active{% endif %}">
                            <i class="fa-solid fa-building-user"></i> 
                        </a>
                    </div>

                    <div class="box-1">
                        <a href="{% url 'recruiters:position_manager' %}" class="{% if request.resolver_match.url_name == 'position_manager' %}active{% endif %}">
                            <div class="p">
                                <i class="fa-solid fa-clipboard-list" style="font-size: 18px;"></i> <p>Position manager</p>
                            </div>
                            <i class="fa-solid fa-caret-right"></i>
                        </a>
                        
                    </div>
                    <div class="box-1-hide"> 
                        <a href="{% url 'recruiters:position_manager' %}" class="{% if request.resolver_match.url_name == 'position_manager' %}active{% endif %}">
                            <i class="fa-solid fa-clipboard-list"></i> 
                        </a>
                    </div>

                    <div class="box-1">
                        <a href="{% url 'recruiters:admin_control' page='package' %}" class="{% if request.resolver_match.url_name == 'admin_control' %}active{% endif %}">
                            <div class="p">
                                <i class="fa-solid fa-user-pen"></i> <p>Admin control</p>
                            </div>
                            <i class="fa-solid fa-caret-right"></i>
                        </a>
                        
                    </div>
                    <div class="box-1-hide">
                        <a href="{% url 'recruiters:admin_control' page='package' %}" class="{% if request.resolver_match.url_name == 'admin_control' %}active{% endif %}">
                            <i class="fa-solid fa-user-pen"></i> 
                        </a>
                    </div>
                    <div class="box-1"> 
                        <a href="{% url 'recruiters:employees' %}" class="{% if request.resolver_match.url_name == 'employees' %}active{% endif %}">
                            <div class="p">
                                <i class="fa-regular fa-id-card"></i> <p>Empolyee</p>  
                            </div>
                            <i class="fa-solid fa-caret-right"></i>                         
                        </a>
                        
                    </div>
                    <div class="box-1-hide">
                        <a href="{% url 'recruiters:employees' %}" class="{% if request.resolver_match.url_name == 'employees'%}active{% endif %}">
                            <i class="fa-regular fa-id-card"></i>
                        </a>
                    </div> 










                    
                </div>
                
            </div>
        </div>




        <div class="r-right">
            <header class="header">
                <div class="navbar">
                    <nav>
                        <ul class="menu">
                            <div class="logo-div">
                                <li class="logo">
                                    
                                    <a href="{% url 'recruiters:home' %}"><img src="{% static 'img/logo.svg' %}" alt="Placenow Logo" style="height: 20px; margin-left:50px;" /></a>
                                </li>
                                
                                
                                
                                
                            </div>
                            <div class="last-div">
                                <!-- <div class="item">
                                    <li><a href="{% url 'job_seeker:profile' %}"><i class="fa-solid fa-bell"></i>Notifications</a></li>
                                </div> -->
                                <div class="item-div-1">
                                    <li class="item button">
                                        <a href="#" ><i class="fa-solid fa-building"></i>
                                            <div class="nav-company">
                                                <p class="nav-company-text-1">Admin</p>
                                                <p class="nav-company-text-2">{{company.company_name}}</p>
                                            </div>
                                            
                                        </a>
                                        
                                    </li>
                                </div>
                                <div class="item-div">
                                    <li class="item button" id="notification"><a href="#"><i class="fa-solid fa-bell"></i> 
                                        Notifications</a><span class="badge">3</span></li>
                                </div>
                                <div class="item-div">
                                    <li class="item button"><a href="{% url 'job_seeker:profile' %}"><i class="fa-solid fa-user"></i> 
                                        Profile</a></li>
                                </div>
                                
                                
                                
                            </div>
                            <div class="item-div-menu" >
                                <li class="item button">
                                    <a>
                                        <div id="mobile-menu-open" style="display: flex;">
                                        <i class="fa-solid fa-user"style="font-size:26px;display: block;"> </i>
                                            <i class="fa-solid fa-angle-down"></i>
                                        </div>

                                        <i class="fa-solid fa-xmark" id="mobile-menu-close" style="display: none;"></i>
                                    </a>
                                </li>
                            </div>
                            
                            
                        </ul>
                    </nav>
                </div>
            </header>



            <div class="r-right-down">
                <div class="r-right-menu" id="mobile-menu-box">
                    <div class="box-1-menu">
                        <a href="#">
                            <p>Admin : {{company.company_name}}</p>
                        </a>
                    </div>
                    <div class="box-2-menu">
                        <a href="#">
                            <!-- <i class="fa-solid fa-bell"></i>  -->
                            <p>Notifications</p></a>
                    </div>
                    <div class="box-3-menu">
                        <a href="#">
                            <!-- <i class="fa-solid fa-user"></i>  -->
                            <p>profile</p>
                        </a>
                    </div>
                </div>
                



                {% block content %}

                {% endblock %}
                <!--   js error handling, python error handling and loading field -->
                    <div id="api-message"></div>
                    <div id="loading-screen">
                    <div class="loader-wrapper">
                        <div class="loader"></div>
                        <span class="loading-text">Loading, please wait...</span>
                    </div>
                    </div>
                    <div id="alert-container">
                    {% if messages %}
                    {% for message in messages %}
                    <div class='alert alert-{{ message.tags }}'>
                        <span class="closebtn">&times;</span>
                        {{ message|safe }}
                    </div>    
                    {% endfor %}
                {% endif %}
                    </div>
                <!--   error -->

                <!-- model for htmx -->
                 <div class="modal" id="HtmxModal">

                </div>
                <!-- -->
                <footer class="about">
                    <div class="about-main">
                        <div class="company">
                           <div class="content">
                                <div class="company-text">
                                    <p>Company</p>
                                    <div class="bar"></div>
                                </div>
                                <div class="company-text-1">  
                                    <a>
                                        About Us
                                    </a>
                                    <a>Terms & condition</a>
                                    <a>Privacy Policy</a>
                                    <a>Affiliate program</a>

                                </div>
                           </div> 
                        </div>
                        <div class="help">
                            <div class="content">
                                <div class="company-text">
                                    <p>Get Help</p>
                                    <div class="bar"></div>
                                </div>
                                <div class="company-text-1">  
                                    <a>
                                        FAQ
                                    </a>
                                    <a>Terms & condition</a>
                                    <a>Report</a>

                                </div>
                           </div>
                        </div>
                        <div class="shop">
                            <div class="content">
                                <div class="company-text">
                                    <p>Our service</p>
                                    <div class="bar"></div>
                                </div>
                                <div class="company-text-1">  
                                    <a>Job seeking
                                    </a>
                                    <a>Smart Searching</a>
                                    <a>Hiring Process</a>
                                    <a>Employee payroll</a>

                                </div>
                           </div>
                        </div>
                        <div class="follow">
                            <div class="content">
                                <div class="company-text-last">
                                    <p>Follow us</p>
                                    <div class="bar"></div>
                                </div>
                                <div class="company-text-1-last">  
                                    <a>
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </a>
                                    <a><i class="fa-brands fa-x-twitter"></i></a>
                                    <a><i class="fa-brands fa-instagram"></i></a>
                                    <a><i class="fa-brands fa-linkedin-in"></i></a>

                                </div>
                           </div>
                            
                        </div>

                    </div>
                    <div class="last-para">
                        <p>&copy 2025 Placenow Private Limited. All right reserved </p>
                    </div>
                </footer>
                <!-- content endding -->
            </div>
                    
        </div>
        
    </div>

    {% block mobile_view %}

    {% endblock %}    


    <!--Notification-->


    <div class="scroll-bg" id="scroll-bg">
        <div class="scroll-div">
  
  
            <!--box 2-->
            <a href="{% url 'job_seeker:profile' %}" class="scroll-object">
                <div class="name">
                    <h2>10 New Candidates</h2>
                    <p>10 Candidates applied to web developer job vacancy</p>
                </div>
                <div class="new">
                    <p>Check</p>
                </div>
              </a>
            <!--box 3-->
            <a class="scroll-object">
                <div class="name">
                    <h2>New Hire request</h2>
                    <p>Create the new job vacancy post or search Candidates to hire a right candidate for new Hire Request</p>
                </div>
                {% comment %} <div class="new">
                    <p>Create job post</p>
                </div> {% endcomment %}
              </a>
            <a class="scroll-object">
                <div class="name">
                    <h2>Complete profile</h2>
                    <p>Complete your company profile to increase the visibility</p>
                </div>
                 <div class="new">
                    <p>Update</p>
                </div> 
              </a>
  
  
  
            
  
  
  
        </div>
    </div>
  </body>
</html>
