
{% extends "recruiters/layout.html" %}

{% block title %}
Job vacancy post
{% endblock title %}
{% load static %}
{% block statics %}
<link rel="stylesheet" href="{% static 'css/recruiters/post-left.css' %}">
<link rel="stylesheet" href="{% static 'css/recruiters/post-right.css' %}">
<link rel="stylesheet" href="{% static 'css/recruiters/post-filter-mobile.css' %}">
{% comment %} <link rel="stylesheet" href="{% static 'css/recruiters/old/create-job.css' %}"> {% endcomment %}

<script src="{% static 'js/recruiters/post.js' %}" defer></script>
<style>

.kyc-card{
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 20px 20px;
    margin-bottom: 20px;
}
</style>
{% endblock statics %}


{% block content %}


 



          <div class="r-right-down-main">
            <div class="r-down-main">
                <div class="list-main">
                    <div class="list-left">
                        
                        <div class="form">
                            <form method="post" action="#">
                                <div class="filters-div">
                                    <i class="fa-solid fa-arrow-down-wide-short"></i>
                                    <h1>Filters</h1>
                                </div>
                                <div class="input-div">
                                   <input type="text" class="input" placeholder="Search by Post Title,Job Id,Recruiter name..."/> 

                                </div>

                                <div class="job-status-div">
                                    <div class="job-status-div-text">
                                        <p>Job Status</p>


                                    </div>
                                    <div class="checkbox-div">
                                        <div class="checkbox-1">
                                            <div class="checkbox-1-1">
                                               <input type="checkbox" class="input-check"/>
                                               <p>Active Jobs</p> 
                                            </div>
                                            <div class="checkbox-1-count">
                                                <p>1</p>
                                            </div>
                                        </div>

                                        <div class="checkbox-1">
                                            <div class="checkbox-1-1">
                                               <input type="checkbox" class="input-check"/>
                                               <p>Expired Jobs</p> 
                                            </div>
                                            <div class="checkbox-1-count">
                                                <p>1</p>
                                            </div>
                                        </div>

                                        <div class="checkbox-1">
                                            <div class="checkbox-1-1">
                                               <input type="checkbox" class="input-check"/>
                                               <p>Closed Jobs</p> 
                                            </div>
                                            <div class="checkbox-1-count">
                                                <p>2</p>
                                            </div>
                                        </div>
                                    </div>






                                    

                                </div>




                                <div class="job-status-div-2">
                                    <div class="job-status-div-text">
                                        <p>Job Posted By</p>

                                    </div>
                                    <div class="input-div-down">
                                        <input type="text" class="input" placeholder="Search by Recruiter name"/> 
                                    </div>
                                    <div class="checkbox-div">
                                        <div class="checkbox-1">
                                            <div class="checkbox-1-1">
                                               <input type="checkbox" class="input-check"/>
                                               <p>Recruiter name</p> 
                                            </div>
                                            <div class="checkbox-1-count">
                                                <p>1</p>
                                            </div>
                                        </div>

                                        <div class="checkbox-1">
                                            <div class="checkbox-1-1">
                                               <input type="checkbox" class="input-check"/>
                                               <p>Recruiter name</p> 
                                            </div>
                                            <div class="checkbox-1-count">
                                                <p>1</p>
                                            </div>
                                        </div>

                                        <div class="checkbox-1">
                                            <div class="checkbox-1-1">
                                               <input type="checkbox" class="input-check"/>
                                               <p>Recruiter name</p> 
                                            </div>
                                            <div class="checkbox-1-count">
                                                <p>2</p>
                                            </div>
                                        </div>
                                    </div>






                                    

                                </div>




                                <div class="job-status-div-3">
                                    <div class="job-status-div-text">
                                        <p>Job Tittle</p>


                                    </div>
                                    <div class="input-div-down">
                                        <input type="text" class="input" placeholder="Search by job title"/> 
                                    </div>
                                    <div class="checkbox-div">
                                        <div class="checkbox-1">
                                            <div class="checkbox-1-1">
                                               <input type="checkbox" class="input-check"/>
                                               <p>App developer</p> 
                                            </div>
                                            <div class="checkbox-1-count">
                                                <p>1</p>
                                            </div>
                                        </div>

                                        
                                    </div>






                                    

                                </div>



                                

                            </form>

                        </div>
                        







                    </div>
                    <div class="list-right">
                        <div class="right-div">
                            <div class="m-right-top">
                                <button class="text buttons">+ Publish vacancy</button>
                            </div>
                            <div class="right-top">
                                <div class="right-top-1">
                                    <div class="all-job">
                                        <a href="{% url 'recruiters:post' %}" class="buttons">All Jobs</a>
                                    </div>
                                    <div class="draft">
                                        <a class="buttons" href={% url 'recruiters:post_draft' %}>Draft</a>
                                    </div>
                                </div>
                                <div class="role-post-div">

                                    <a href="{% url 'recruiters:create_post' %}" class="role-post-text">+ Publish vacancy</a>


                                    <div class="m-filter-div" id="m-filter-div" onclick="mobileView(true)">
                                        <i class="fa-solid fa-arrow-down-wide-short"></i>
                                        <p>Filters</p> 
                                    </div>
                                    
                                </div>
                            </div>




                            <div class="right-middle">
                                <div class="select">
                                    {% comment %} <input type="checkbox" class="check"/>
                                    <p>Select All</p> {% endcomment %}
                                </div>
                                <select class="post-date-clicking">
                                    <option>Posted date: newest</option>
                                    <option>Posted date: oldest</option>
                                    <option>Job title: A - Z</option>
                                    <option>Job title: Z - A</option>
                                </select>

                            </div>


                            {% if posts %}
                                {% for post in posts %}
                            <div class="right-box-1">
                                <div class="right-box-1-content">
                                    <div class="c-box-1">
                                        <div class="support">
                                            <div class="input-text">
                                                {% comment %} <input type="checkbox" class="check"/> {% endcomment %}
                                                <div class="c-1-text">
                                                    <p class="text-1">{{ post.title}}</p>
                                                    <p class="text-2">{{ post.position_grp.position_title|default:''}} {{ post.hire_request.hire_request_code|default:''}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        {% if post.is_active %}
                                        <div class="Expired-1">
                                            <p>Active</p>
                                            <i class="fa-regular fa-clock"></i>
                                        </div>
                                        {% else%}
                                        <div class="Expired">
                                            <p>In Active</p>
                                            <i class="fa-regular fa-clock"></i>
                                        </div>
                                        {% endif %}
                                    </div>


                                    <div class="c-box-2">
                                        <!-- Views (non-clickable) -->
                                        <div class="num-1">
                                            <p class="num">{{ post.views }}</p>
                                            <p class="num-text">Views</p>
                                        </div>

                                        <!-- Applicants (Click to see all applicants for this job) -->
                                        <div class="num-3">
                                            <a href="{% url 'recruiters:my_applicants' %}?job_id={{ post.job_id }}">
                                                <p class="num">{{ post.applicant_count }}</p>
                                                <p class="num-text">Applicants</p>
                                            </a>
                                        </div>

                                        <!-- Shortlisted (Click to see only shortlisted for this job) -->
                                        <div class="num-1">
                                            <a href="{% url 'recruiters:my_applicants' %}?job_id={{ post.job_id }}&status=Shortlisted">
                                                <p class="num">{{ post.shortlisted_count }}</p>
                                                <p class="num-text">Shortlisted</p>
                                            </a>
                                        </div>

                                        <!-- Offered (Click to see only offered for this job) -->
                                        <div class="num-2">
                                            <a href="{% url 'recruiters:my_applicants' %}?job_id={{ post.job_id }}&status=Offered">
                                                <p class="num">{{ post.offered_count }}</p>
                                                <p class="num-text">Offered</p>
                                            </a>
                                        </div>
                                    </div>


                                    <div class="c-box-3">
                                        <div class="Report">
                                            <p>Refresh</p>
                                            <i class="fa-solid fa-ellipsis-vertical" id="c-3-show"></i>
                                        </div>
                                        <div class="c-3-postion" id="c-3-post">
                                            <a href="/job/?r={{ post.slug }}" class="c-3-postion-1" target="_blank">
                                                Link
                                            </a>
                                            <div class="c-3-postion-2">
                                                <a>Close vacancy</a>
                                            </div>

                                        </div>
                                        <div class="date">
                                            <p>Created By {{ post.created_by }}</p>
                                            <p>{{ post.created_at|timesince}} ago</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="hightlight">
                                    <p class="one">The job posting has expired would you like to .</p>
                                    <p></p>

                                    <p class="underline two">Repost it </p><p></p>
                                    <p class="three">. or </p><p></p>
                                    <p class="underline four"> . Closed it ?</p>
                                </div>
                            </div>

                            {% endfor %}
                            {% else %}
                            No job post are created let create new one.
                            {% endif %}








                            
                        </div>
                    </div>

                </div>



                
            </div>



            </div>


    {% endblock content %}














    {% block mobile_view %}
    <div class="m1-filter-div" id="m1-filter-div">
        <div class="m-list-left">
                            
            <div class="form">
                <form method="post" action="#">
                    <div class="filters-div">
                        <i class="fa-solid fa-arrow-down-wide-short"></i>
                        <h1>Filters</h1>
                        <div class="x-mark" id="x-mark" onclick="mobileView(false)">
                            <p class="X">X</p>
                        </div>
                    </div>
                    
                    <div class="input-div">
                       <input type="text" class="input" placeholder=" Search Title,Job Id..."/> 

                    </div>

                    <div class="job-status-div">
                        <div class="job-status-div-text">
                            <p>Job Status</p>
                            <i class="fa-solid fa-angle-down"></i>

                        </div>
                        <div class="checkbox-div">
                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>Active Jobs</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>1</p>
                                </div>
                            </div>

                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>Expired Jobs</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>1</p>
                                </div>
                            </div>

                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>Closed Jobs</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>2</p>
                                </div>
                            </div>
                        </div>






                        

                    </div>




                    <div class="job-status-div-2">
                        <div class="job-status-div-text">
                            <p>Job Posted By</p>
                            <i class="fa-solid fa-angle-down"></i>

                        </div>
                        <div class="input-div-down">
                            <input type="text" class="input" placeholder=" Search Title,Job Id..."/> 
                        </div>
                        <div class="checkbox-div">
                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>Recruiter name</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>1</p>
                                </div>
                            </div>

                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>Recruiter name</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>1</p>
                                </div>
                            </div>

                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>Recruiter name</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>2</p>
                                </div>
                            </div>
                        </div>






                        

                    </div>




                    <div class="job-status-div-3">
                        <div class="job-status-div-text">
                            <p>Job Tittle</p>
                            <i class="fa-solid fa-angle-down"></i>

                        </div>
                        <div class="input-div-down">
                            <input type="text" class="input" placeholder=" Search Title,Job Id..."/> 
                        </div>
                        <div class="checkbox-div">
                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>App developer</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>1</p>
                                </div>
                            </div>

                            
                        </div>






                        

                    </div>



                    

                </form>

            </div>
            







        </div>

    </div>


{% endblock mobile_view %}
