
{% extends "recruiters/layout.html" %}

{% block title %}
Job vacancy post
{% endblock title %}
{% load static %}
{% block statics %}
<link rel="stylesheet" href="{% static 'css/recruiters/post-left.css' %}">
<link rel="stylesheet" href="{% static 'css/recruiters/post-right.css' %}">
<link rel="stylesheet" href="{% static 'css/recruiters/post-filter-mobile.css' %}">
<link rel="stylesheet" href="{% static 'css/recruiters/post-create-form-input.css' %}">
<link rel="stylesheet" href="{% static 'css/recruiters/post-create-form-input-res.css' %}">
{% comment %} <link rel="stylesheet" href="{% static 'css/recruiters/old/create-job.css' %}"> {% endcomment %}

<script src="{% static 'js/recruiters/post.js' %}" defer></script>
<script src="{% static 'js/recruiters/word-count.js' %}" defer></script>
<style>

.kyc-card{
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 20px 20px;
    margin-bottom: 20px;
}
</style>
{% endblock statics %}


{% block content %}

            {% if messages %}
            {% for message in messages %}
              <div class='alert alert-{{ message.tags }}'>
                <span class="closebtn">&times;</span>
                  {{ message }}
              </div>    
            {% endfor %}
          {% endif %}
 



          <div class="r-right-down-main">
            <div class="r-down-main">
            <div class="create-form-contrainer">
                <div class="account-div">
                    <p class="account">Create new job post</p>
                </div>
                <div class="info-list">


                    <div class="admin-div">
                        <div class="admin-name">
                            <p >Job Title <span>*</span></p>
                            <input class="admin-input" placeholder="Enter Admin name" required/> 
                        </div>
                        <div class="admin-role">
                            <p>Work Mode </p>
                            <input class="admin-input" placeholder="onsite / remote / hybrid" required/>
                        </div>
    
                    </div>


                    <div class="company-div">
                        <p >Job Location <span>*</span></p>
                        <input class="company-input" placeholder="Chennai-Tamil Nadu, Bengaluru-Karnataka" required/>
                    </div>


                    <div class="email-div">
                        <div class="email-name">
                            <p >Job type <span>*</span></p>
                            <select class="admin-input-sel">
                                <option>Full-time / Part-time</option>
                                <option>Java Programming</option>
                                <option>Python</option>
                                <option>Data Analyst</option>
                            </select> 
                        </div>
                        <div class="website">
                            <p>Shift <span>*</span></p>
                            <select class="admin-input-sel">
                                <option>Fixed (day or night)</option>
                                <option >Java Programming</option>
                                <option >Python</option>
                                <option >Data Analyst</option>
                            </select>
                        </div>
    
    
                    </div>

                    <div class="company-div">
                        <p >Qualifications <span>*</span></p>
                        <input class="company-input" placeholder="Any CS / BE in Cse" required/>
                    </div>

                    <div class="admin-div">
                        <div class="admin-name">
                            <p >Exprience <span>*</span></p>
                            <input class="admin-input" placeholder="Enter Admin name" required/> 
                        </div>
                        <div class="admin-role">
                            <p>To </p>
                            <input class="admin-input" placeholder="onsite / remote / hybrid" required/>
                        </div>
    
                    </div>


                    <div class="email-div">
                        <div class="email-name">
                            <p >Salary <span>*</span></p>
                            <select class="admin-input-sel">
                                <option>3 LPA</option>
                                <option>Java Programming</option>
                                <option>Python</option>
                                <option>Data Analyst</option>
                            </select> 
                        </div>
                        <div class="website">
                            <p>Openin Count <span>*</span></p>
                            <select class="admin-input-sel">
                                <option>20</option>
                                <option >Java Programming</option>
                                <option >Python</option>
                                <option >Data Analyst</option>
                            </select>
                        </div>
    
    
                    </div>



                    <div class="description">
                        <div class="about-p-div">
                            <p>Job Description <span>*</span></p>
                        </div>
                        <div class="textarea-div">
                            <textarea placeholder="short Description" id="count-words"></textarea>
                            <p id="char-count">0/200 chart</p>
                        </div>

                    </div>




                    <div class="company-div-last">
                        <p >Employee benifits <span>*</span></p>
                        <input class="company-input-last" placeholder="" required/>
                    </div>

                    <div class="admin-div-last">
                        <div class="admin-name-last">
                            <p >Last date to apply <span>*</span></p>
                            <input class="admin-input-last" placeholder="Enter Admin name" required/> 
                        </div>
                        
    
                    </div>

                    <div class="btn-div">
                        <button class="btn" >Create Account</button>
                    </div>



                </div>
            </div>
        </div>



            </div>


    {% endblock content %}














    {% block mobile_view %}
    <div class="m1-filter-div" id="m1-filter-div">
        <div class="m-list-left">
                            
            <div class="form">
                <form method="post" action="#">
                    <div class="filters-div">
                        <i class="fa-solid fa-arrow-down-wide-short"></i>
                        <h1>Filters</h1>
                        <div class="x-mark" id="x-mark" onclick="mobileView(false)">
                            <p class="X">X</p>
                        </div>
                    </div>
                    
                    <div class="input-div">
                       <input type="text" class="input" placeholder=" Search Title,Job Id..."/> 

                    </div>

                    <div class="job-status-div">
                        <div class="job-status-div-text">
                            <p>Job Status</p>
                            <i class="fa-solid fa-angle-down"></i>

                        </div>
                        <div class="checkbox-div">
                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>Active Jobs</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>1</p>
                                </div>
                            </div>

                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>Expired Jobs</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>1</p>
                                </div>
                            </div>

                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>Closed Jobs</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>2</p>
                                </div>
                            </div>
                        </div>






                        

                    </div>




                    <div class="job-status-div-2">
                        <div class="job-status-div-text">
                            <p>Job Posted By</p>
                            <i class="fa-solid fa-angle-down"></i>

                        </div>
                        <div class="input-div-down">
                            <input type="text" class="input" placeholder=" Search Title,Job Id..."/> 
                        </div>
                        <div class="checkbox-div">
                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>Recruiter name</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>1</p>
                                </div>
                            </div>

                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>Recruiter name</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>1</p>
                                </div>
                            </div>

                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>Recruiter name</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>2</p>
                                </div>
                            </div>
                        </div>






                        

                    </div>




                    <div class="job-status-div-3">
                        <div class="job-status-div-text">
                            <p>Job Tittle</p>
                            <i class="fa-solid fa-angle-down"></i>

                        </div>
                        <div class="input-div-down">
                            <input type="text" class="input" placeholder=" Search Title,Job Id..."/> 
                        </div>
                        <div class="checkbox-div">
                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>App developer</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>1</p>
                                </div>
                            </div>

                            
                        </div>






                        

                    </div>



                    

                </form>

            </div>
            







        </div>

    </div>


{% endblock mobile_view %}
