<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}

      {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/error.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% block statics %}

    {% endblock %}
    <script src="{% static 'js/nav.js' %}" async defer></script>
    {% comment %} <script src="https://www.google.com/recaptcha/api.js" async defer></script> {% endcomment %}
  </head>
  <body>
    <header>
      <div class="navbar">
        <nav>
          <ul class="menu">
            <li class="logo">
              <!-- change the name of logo according to your name of image (mani/vengu) -->
              <a href="{% url 'job_seeker:home' %}"><img src="{% static 'img/logo.svg' %}" alt="Placenow Logo" style="height: 20px;" /></a>
            </li>
            <div class="item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
              <li>
                <a href="{% url 'job_seeker:home' %}"><i class="fa-solid fa-house"></i><div>Home</div></a>
              </li>
            </div>
            <div class="item {% if request.resolver_match.url_name == 'status' %}active{% endif %}">
              <li>
                <a href="{% url 'job_seeker:status' page='applied' %}"><i class="fa-solid fa-briefcase"></i><div>Jobs</div></a>
              </li>
            </div>
            <div class="item ">
              <li>
                <a href="{% url 'job_seeker:notifications' %}"><i class="fa-solid fa-bell"></i><div>Notifications</div></a>
              </li>
            </div>
            <li class="toggle" id="menu-toggle">
              <span class="bars"></span>
            </li>
            {% if user.is_authenticated %}
              <li class="item button {% if request.resolver_match.url_name == 'profile' %}active{% endif %}">
                <a href="{% url 'job_seeker:profile' %}"><i class="fa-solid fa-user" style="margin-right: 8px;"></i>Profile</a>
              </li>
              {% if request.resolver_match.url_name == 'home'%}
              <li class="item"></li>
              <li class="item nav_link">
                <a href="{% url 'auth:employer_login' %}">Employers Login</a>
                {% comment %} <a href="{% url 'auth:employer_login' %}">Employers Login</a> {% endcomment %}
                {% comment %} <select class="nav_select" name="Usertypes" onchange="location = this.value;">
                  <option value="{% url 'job_seeker:home' %}">Job Seeker</option>
                  <option value="{% url 'recruiters:home' %}">Recruiter</option>
                  <option value="{% url 'administrator:dashboard' %}">Administrator</option>
                  <option value="{% url 'refer_and_earn:home' %}">Refer and earn</option>
                </select> {% endcomment %}
              </li>
              {% endif %}
            {% else %}
              <li class="item button {% if request.resolver_match.url_name == 'login' %}active{% endif %}">
                <a href="{% url 'auth:login' %}">Login</a>
              </li>
              <li class="item"></li>
              {% if request.resolver_match.url_name == 'home'%}
              <li class="item nav_link">
                <a href="{% url 'auth:employer_login' %}">Employers Login</a>
                {% comment %} <a href="{% url 'auth:employer_login' %}">Employers Login</a> {% endcomment %}
                {% comment %} <select class="nav_select" name="Usertypes" onchange="location = this.value;">
                  <option value="{% url 'job_seeker:home' %}">Job Seeker</option>
                  <option value="{% url 'recruiters:home' %}">Recruiter</option>
                  <option value="{% url 'administrator:dashboard' %}">Administrator</option>
                  <option value="{% url 'refer_and_earn:home' %}">Refer and earn</option>
                </select> {% endcomment %}
              </li>
              {% endif %}
            {% endif %}
            <li class="item"></li>

          </ul>
        </nav>
      </div>
    </header>

    {% block content %}

    {% endblock %}

    <footer>
      <div class="footer-content">
        <span>© 2024 Placeme</span>
        <a href="#">Terms</a>
        <a href="#">Privacy Centre and Ad Choices</a>
      </div>
    </footer>
    <script src="{% static 'js/script.js' %}" defer></script>
    <script src="{% static 'js/error.js' %}" defer></script>
  </body>
</html>
