{% load static %}
<div class="tab-pane fade in active" id="tab1default">
    <form method="POST" action="#">
        {% csrf_token %}
    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 align-self-start align-items-start d-inline-block" style="padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;width:100%">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 align-self-center order-2 d-inline-block bg-white align-top  align-items-start">
            <table border="0" class="tblassetsteps" style="width:100%">
                <tr>
                    <td>
                        
                        <label class="SideLabelBold">First Name</label>
                        <label><font size="3" color="red">*</font></label>
                    </td>
                    <td>
                        <input type="text" id="txtFirstName" class="form-control " name="first_name" value="{{ candidate.first_name.value|default_if_none:'' }}" required>
                    </td>
                    <td>
                        {% comment %} <label class="SideLabelBold">Middle Name</label> {% endcomment %}
                    </td>
                    <td>
                        {% comment %} <input typeof="textbox" id="txtMiddleName" class="form-control  " type="text"> {% endcomment %}
                    </td>
                    <td>
                        <label class="SideLabelBold">Last Name</label>
                        <label><font size="3" color="red">*</font></label>
                    </td>
                    <td>
                        <input typeof="textbox" id="txtLastName" class="form-control  " name="last_name" value="{{ candidate.last_name.value|default_if_none:'' }}" type="text" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="SideLabelBold">Father's Name</label>
                        <label><font size="3" color="red">*</font></label>
                    </td>
                    <td>
                        <input typeof="textbox" id="txtFatherName" class="form-control " name="father_name" value="{{ onboarding.father_name.value|default_if_none:''}}" type="text" required>
                    </td>
                    <td>
                        <label class="SideLabelBold">Mobile No 1 </label>
                        <label><font size="3" color="red">*</font></label>
                    </td>
                    <td>
                        <input typeof="textbox" id="txtMobileNo1" class="form-control  " name="mobile_no" value="{{ candidate.instance.user.mobile_no|default_if_none:'' }}" type="text" required disabled>
                    </td>
                    <td>
                        <label class="SideLabelBold">Mobile No 2</label>
                    </td>
                    <td>
                        <input typeof="textbox" id="txtMobile2" class="form-control  " name="mobile_two" value="{{ onboarding.mobile_two.value|default_if_none:''}}" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="SideLabelBold">MailID</label>
                    </td>
                    <td>
                        <input typeof="textbox" id="txtMailID" class="form-control  " name="email" value="{{ candidate.instance.user.email|default_if_none:'' }}" type="text" disabled>
                    </td>
                    <td>
                        <label class="SideLabelBold">Gender</label>
                        <label><font size="3" color="red">*</font></label>
                    </td>
                    <td>
                        <select class="form-control" id="Gender" name="gender" required>
                            <option value="Male" {% if candidate.gender.value == 'Male' %}selected{% endif %}>Male</option>
                            <option value="Female" {% if candidate.gender.value == 'Female' %}selected{% endif %}>Female</option>
                            <option value="Other" {% if candidate.gender.value == 'Other' %}selected{% endif %}>Other</option>
                        </select>
                    </td>
                    <td>
                        <label class="SideLabelBold">Marital Status</label>
                    </td>
                    <td>
    
                        <select id="marital_status" name="marital_status" class="form-control">
                            <option value="">Select</option>
                            <option value="Single" {% if candidate.marital_status.value == 'Single' %}selected{% endif %}>Single</option>
                            <option value="Married" {% if candidate.marital_status.value == 'Married' %}selected{% endif %}>Married</option>
                        </select>
    
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="SideLabelBold">DOB</label>
                        <label><font size="3" color="red">*</font></label>
                    </td>
                    <td>

                        <input type="date" id="dob" name="dob" class="form-control" value="{{ candidate.dob.value|date:'Y-m-d'|default_if_none:'' }}"  required>
                    {% comment %} {% if candidate.dob.value %}
                    <input type="date" id="dob" name="dob" class="form-control" value="{{ candidate.dob.value|date:'Y-m-d'|default_if_none:'' }}" disabled>
                {% else %}
                <input type="date" id="dob" name="dob" class="form-control" value="{{ candidate.dob.value|date:'Y-m-d'|default_if_none:'' }}"  required>
                {% endif %}             {% endcomment %}
                    </td>
    
                    <td>
                        <label class="SideLabelBold">DOJ</label>
                        <label><font size="3" color="red">*</font></label>
                    </td>
                    <td>
                        {% comment %} {% if onboarding.doj.value %}
                        <input type="date" id="" style="position: relative" class="" name="doj" value="{{ onboarding.doj.value|date:'Y-m-d'|default_if_none:'' }}" disabled>
                    {% else %} {% endcomment %}
                    <input type="date" id="" style="position: relative" class="form-control" name="doj" value="{{ onboarding.doj.value|date:'Y-m-d'|default_if_none:'' }}" required>
                    {% comment %} {% endif %}  {% endcomment %}
                    </td>
    
                    <td>
                        <label class="SideLabelBold">DOL</label>
                    </td>
                    <td>
                        {% comment %} {% if onboarding.dor %}
                        <input type="date" id="" style="position: relative" class="" name="dol" value="{{ onboarding.dol.value|date:'Y-m-d'|default_if_none:'' }}" disabled>
                    {% else %} {% endcomment %}
                    <input type="date" id="" style="position: relative" class="form-control" name="dol" value="{{ onboarding.dol.value|date:'Y-m-d'|default_if_none:'' }}" >
                    {% comment %} {% endif %}  {% endcomment %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="SideLabelBold">Known Languages</label>
                        <label><font size="3" color="red">*</font></label>
                    </td>
                    <td colspan="5">
                        <span id="onboarding-language-td">
                            
                            {% include 'jobseeker/htmx/onboarding_language_show.html' %}
                            
                            
                        </span>
                        <a href="#" class="open-modal-btn btn btn-primary" data-modal-id="PreferLanguageModal"><i class="fa-solid fa-pen-to-square open-modal-btn"></i></a>
                    </td>
                </tr>
            </table>
            <div id="languages_wrapper">

        </div>
    </div>
    
    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 align-self-start align-items-start d-inline-block " style="padding-left:0px;padding-right:0px;padding-top:5px;padding-bottom:5px;width:100%">
    
        <div class="col-md-6 bg-white border-top rounded  align-items-start" style="padding: 20px;">
            <label class="SideLabelBold" style="font-weight: bold;">Permanent Address</label>
            <table border="0" class="tblassetsteps" style="width:100%">
                <tr>
                    <td>
                        <label class="SideLabelBold">Address</label>
                        <label><font size="3" color="red">*</font></label>
                    </td>
                    <td>
                        <input typeof="textbox" id="txtPAddress1" class="form-control  " name="address" value="{{ candidate.address.value|default_if_none:''}}" type="text">
                    </td>
                </tr>
                {% comment %} <tr>
                    <td>
                        <label class="SideLabelBold">Address2</label>
                        <label><font size="3" color="red">*</font></label>
                    </td>
                    <td>
                        <input typeof="textbox" id="txtPAddress2" class="form-control  " type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="SideLabelBold">Address3</label>
                        <label><font size="3" color="red">*</font></label>
                    </td>
                    <td>
                        <input typeof="textbox" id="txtPAddress3" class="form-control  " type="text">
                    </td>
                </tr> {% endcomment %}
                <tr>
                    <td>
                        <label class="SideLabelBold">State</label>
                        <label><font size="3" color="red">*</font></label>
                    </td>
                    <td>
                        <input typeof="textbox" id="txtPState" class="form-control  " name="state" value="{{ candidate.state.value|default_if_none:''}}" type="text">
    
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="SideLabelBold">Country</label>
                        <label><font size="3" color="red">*</font></label>
                    </td>
                    <td>
                        <input typeof="textbox" id="txtPCountry" class="form-control  " name="country" value="{{ candidate.country.value|default_if_none:''}}" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="SideLabelBold">Pin Code</label>
                        <label><font size="3" color="red">*</font></label>
                    </td>
                    <td>
                        <input typeof="textbox" id="txtPPIN" class="form-control  " name="pincode" value="{{ candidate.pincode.value|default_if_none:''}}" type="text">
                </tr>
            </table>
    
        </div>
        <div class="col-md-6 border-top rounded  align-items-start" style="padding:20px">
            <div>
                <label class="SideLabelBold" style="font-weight: bold;">Communication Address</label>
                <input style="display:inline-block;margin-left:50px" type="checkbox" id="chkUsePaddressAsCommAdd" name="chkUsePaddress" onchange="UsePermanentAddress()" /> <label class="SideLabelBold" id="lblUsePadd">Same as Permanent Address</label>
            </div>
            <table border="0" class="tblassetsteps" style="width:100%">
                <tr>
                    <td>
                        <label class="SideLabelBold">Address</label>
                    </td>
                    <td>
                        <input typeof="textbox" id="txtCAddress1" class="form-control  "  name="communication_address" value="{{ onboarding.communication_address.value|default_if_none:''}}" type="text">
                    </td>
                </tr>
                {% comment %} <tr>
                    <td>
                        <label class="SideLabelBold">Address2</label>
                    </td>
                    <td>
                        <input typeof="textbox" id="txtCAddress2" class="form-control  " type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="SideLabelBold">Address3</label>
                    </td>
                    <td>
                        <input typeof="textbox" id="txtCAddress3" class="form-control  " type="text">
                    </td>
                </tr> {% endcomment %}
                <tr>
                    <td>
                        <label class="SideLabelBold">State</label>
                    </td>
                    <td>
                        <input typeof="textbox" id="txtCState" class="form-control  " name="communication_state" value="{{ onboarding.communication_state.value|default_if_none:''}}" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="SideLabelBold">Country</label>
                    </td>
                    <td>
                        <input typeof="textbox" id="txtCCountry" class="form-control  " name="communication_country" value="{{ onboarding.communication_country.value|default_if_none:''}}" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="SideLabelBold">Pin Code</label>
                    </td>
                    <td>
                        <input typeof="textbox" id="txtCPincode" class="form-control  " name="communication_pincode" value="{{ onboarding.communication_pincode.value|default_if_none:''}}" type="text">
                    </td>
                </tr>
            </table>
        </div>
       
        <div style="float:right">
            {% comment %} <button id="btnEmpSave" onclick="saveEmpData()" style="color:#254b96 !important;margin-left:1000px" class="btn btn-default">Save & Next</button> {% endcomment %}
            <button type="submit" name="personal"  style="margin-top: 25px;" class="btn btn-primary btn-save btn-bottom">Save & Next</button>
            
        </div>
    </div>
</form>
    <br/>
    {% comment %} <script src="{% static 'bootstrap/Scripts/jquery-3.4.1.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'bootstrap/Scripts/toastr/customToastr.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'bootstrap/Scripts/toastr/toastr.js' %}"></script> {% endcomment %}
    <script>
        function UsePermanentAddress() {
            const checkbox = document.querySelector("input[name='chkUsePaddress']");
            
            const isChecked = checkbox && checkbox.checked;

            const pAddress1 = document.getElementById("txtPAddress1");
            const pAddress2 = document.getElementById("txtPAddress2");
            const pAddress3 = document.getElementById("txtPAddress3");
            const pState    = document.getElementById("txtPState");
            const pCountry  = document.getElementById("txtPCountry");
            const pPIN      = document.getElementById("txtPPIN");

            const cAddress1 = document.getElementById("txtCAddress1");
            const cAddress2 = document.getElementById("txtCAddress2");
            const cAddress3 = document.getElementById("txtCAddress3");
            const cState    = document.getElementById("txtCState");
            const cCountry  = document.getElementById("txtCCountry");
            const cPincode  = document.getElementById("txtCPincode");

            if (isChecked) {
                cAddress1.value = pAddress1.value;
//                cAddress2.value = pAddress2.value;
  //              cAddress3.value = pAddress3.value;
                cState.value    = pState.value;
                cCountry.value  = pCountry.value;
                cPincode.value  = pPIN.value;
            } else {
                cAddress1.value = '';
                cAddress2.value = '';
                cAddress3.value = '';
                cState.value    = '';
                cCountry.value  = '';
                cPincode.value  = '';
            }
        }

        {% comment %} function UsePermanentAddress() {
            if ($("input[name='chkUsePaddress']:checked").prop('checked') == true) {
                $("#txtCAddress1").val($("#txtPAddress1").val());
                $("#txtCAddress2").val($("#txtPAddress2").val());
                $("#txtCAddress3").val($("#txtPAddress3").val());
                $("#txtCState").val($("#txtPState").val());
                $("#txtCCountry").val($("#txtPCountry").val());
                $("#txtCPincode").val($("#txtPPIN").val());
            }
            else {
                $("#txtCAddress1").val('');
                $("#txtCAddress2").val('');
                $("#txtCAddress3").val('');
                $("#txtCState").val('');
                $("#txtCCountry").val('');
                $("#txtCPincode").val('');
            }
            
        } {% endcomment %}
    </script>

</div>
</div>

    {% include 'jobseeker/htmx/onboarding_language_modal.html' %}


<script>
document.addEventListener('DOMContentLoaded', function () {
    const addRowBtn = document.getElementById('add-row-btn');
    const saveBtn = document.getElementById('save-btn');
    const saveAddAnotherBtn = document.getElementById('save-add-another-btn');
    const tableBody = document.getElementById('language-body');
    const outerForm = addRowBtn?.closest('form');

    const hasEducation = tableBody?.dataset?.hasEducation === 'true';
    let formActive = !!tableBody.querySelector('.edu-form') || !hasEducation;
    let saveAndAddAnotherClicked = false;

    function toggleButtons() {
        if (formActive) {
            addRowBtn.style.display = 'none';
            saveBtn.style.display = 'inline-block';
            saveAddAnotherBtn.style.display = 'inline-block';
            
        } else {
            addRowBtn.style.display = 'inline-block';
            saveBtn.style.display = 'none';
            saveAddAnotherBtn.style.display = 'none';
        }
    }

    toggleButtons();

    addRowBtn?.addEventListener('click', function (e) {
        e.preventDefault();
        const template = document.getElementById('new-lan-form-template');
        if (template && !formActive) {
            const clone = template.content.cloneNode(true);
            tableBody.appendChild(clone);
            formActive = true;
            toggleButtons();
        }
    });

    saveBtn?.addEventListener('click', function (e) {
        e.preventDefault();
        saveAndAddAnotherClicked = false;
        outerForm?.requestSubmit();
    });

    saveAddAnotherBtn?.addEventListener('click', function (e) {
        e.preventDefault();
        saveAndAddAnotherClicked = true;
        outerForm?.requestSubmit();
    });

    document.addEventListener('htmx:afterSwap', function () {
        formActive = !!tableBody.querySelector('.edit-form');

        if (saveAndAddAnotherClicked) {
            // Reset the flag
            saveAndAddAnotherClicked = false;

            // Automatically trigger "Add Row" if the template exists
            const template = document.getElementById('new-lan-form-template');
            if (template) {
                const clone = template.content.cloneNode(true);
                tableBody.appendChild(clone);
                formActive = true;
            }
        }

        toggleButtons();
    });

document.addEventListener('click', function (e) {
    if (e.target.classList.contains('cancel-form')) {
        const formRow = e.target.closest('.edu-form');

        // Only remove if it's a newly added row (not an edit form)
        if (formRow && formRow.dataset.new === "true") {
            formRow.remove();
            formActive = false;
            toggleButtons();
        }
    }
});


});




</script>