{% load static %}
<div class="tab-pane fade in active" id="tab2default">


    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 align-self-start align-items-start d-inline-block" style="padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;width:100%">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 align-self-center order-2 d-inline-block bg-white align-top  align-items-start">
            <form hx-post="{% url 'job_seeker:onboarding' onboarding_id=onboarding_obj.Onbording_id page='family' %}" hx-target="#family-body" hx-swap="innerHTML">
            {% csrf_token %}
            <table class="tblassetsteps dynamictbl table table-hover" id="tblEmpFamily">
                <thead>
                    <tr>                    
                        <th width="15%"><label class="SideLabelBold">First Name</label></th>
                        <th width="12%"><label class="SideLabelBold">Last Name</label></th>
                        <th width="10%"><label class="SideLabelBold">Sex</label></th>
                        <th width="10%"><label class="SideLabelBold">Relationship </label></th>
                        <th width="8%"><label class="SideLabelBold">DOB</label></th>
                        <th width="15%"><label class="SideLabelBold">Aadhar Number</label></th>
                        <th width="12%"><label class="SideLabelBold">Mobile Number</label></th>
                        <th width="10%"><label class="SideLabelBold">Action</label></th>
    
                    </tr>
                </thead>
                <tbody id="family-body">
                    {% include "jobseeker/htmx/onboarding_family_table.html" %}
                </tbody>
            </table>
    
            <br />
            <div style="float:right">            
                <a href="{% url 'job_seeker:onboarding' onboarding_id=request.resolver_match.kwargs.onboarding_id page='education' %}" class="btn btn-primary btn-save">Next</a>
            </div>
        </form>
        </div>
    </div>
    
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> {% endcomment %}
    {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.js"></script>
    <script src="{% static 'bootstrap/Scripts/Employee/Employee.js' %}"></script> {% endcomment %}
    <style>
        .error {
            color: red;
        }
    </style>
    
  


</div>