{% load static %}
<div class="tab-pane fade in active" id="tab2default">

        <form method="POST" action="">
            {% csrf_token %}
    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 align-self-start align-items-start d-inline-block" style="padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;width:100%">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 align-self-center order-2 d-inline-block bg-white align-top  align-items-start">
            <table class="tblassetsteps dynamictbl table table-hover" id="tblEmpFamily">
                <thead>
                    <tr>                    

                        <th width="15%"><label class="SideLabelBold">Company Name</label></th>
                        <th width="15%"><label class="SideLabelBold">Designation</label></th>
                        <th width="10%"><label class="SideLabelBold">Work Type</label></th>
                        <th width="10%"><label class="SideLabelBold">DOJ</label></th>
                        <th width="10%"><label class="SideLabelBold">DOL</label></th>
                        <th width="15%"><label class="SideLabelBold">Reason For leaving</label></th>
                        <th width="15%"><label class="SideLabelBold">Proof (Experience certificate)</label></th>
                        <th width="10%"><label class="SideLabelBold">Action</label></th>
    
                    </tr>
                </thead>
                <tbody id="bindrow">
                    {% comment %} {%for fam in family_forms%}
                    <tr><input type="hidden" name="id[]" id="" class="form-control" value="{{fam.family_member_id}}">
                        <td><input type="text" name="txtFirstName[]" id="txtFFirstName1" class="form-control" value="{{fam.first_name}}"></td>
                        <td><input type="text" name="txtLastName[]" id="txtFLastName1" class="form-control" value="{{fam.last_name}}"> </td>
                        <td><select id="ddlFGender1" name="Gender[]" class="form-control">
                            <option value="">Select </option>
                            <option value="Male" {% if fam.gender == 'Male' %}selected{% endif %}>Male </option>
                            <option value="Female" {% if fam.gender == 'Female' %}selected{% endif %}>Female </option>
                            <option value="Transgender" {% if fam.gender == 'Transgender' %}selected{% endif %}>Transgender </option>
                            <option value="NotDisclosed" {% if fam.gender == 'NotDisclosed' %}selected{% endif %}>NotDisclosed </option>
                        </select></td>
                        <td><select id="ddlFReleationship1" name="Releationship[]" class="form-control">
                            <option value="">Select </option>
                            <option value="Father" {% if fam.relationship == 'Father' %}selected{% endif %}>Father </option>
                            <option value="Mother" {% if fam.relationship == 'Mother' %}selected{% endif %}>Mother </option>
                            <option value="Spouse" {% if fam.relationship == 'Spouse' %}selected{% endif %}>Spouse </option>
                            <option value="Son" {% if fam.relationship == 'Son' %}selected{% endif %}>Son </option>
                            <option value="Daughter" {% if fam.relationship == 'Daughter' %}selected{% endif %}>Daughter </option>
                        </select></td>
                        <td><input type="date" name="txtdob[]" style="position: relative" id="" class="form-control" value="{{fam.dob|date:'Y-m-d'}}"> </td>
                        <td><input type="text" name="txtAadhar[]" id="txtFamilyAadhar1" class="form-control" onchange="validateAadharNumber()" value="{{fam.aadhar_no}}"> </td>
                        <td><input type="text" name="txtFContactNo[]" id="txtFContactNo1" class="form-control" value="{{fam.mobile_no}}"> </td>
                    </tr>
                    
                    {% endfor %} {% endcomment %}
                </tbody>
            </table>
    
            <br />
            <div style="float:right">            
                <a id="add" class="btn btn-primary"> Add Row</a> &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" name="family" id="btnSaveEmpFamilyData" onclick="SaveEmpFamilyData()" style="" class="btn btn-primary">Save & Next</button>
            </div>
        </div>
    </div>
        </form>
    
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> {% endcomment %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.js"></script>
    <script src="{% static 'bootstrap/Scripts/Employee/Employee.js' %}"></script>
    <style>
        .error {
            color: red;
        }
    </style>
    
    <script>
        $(document).ready(function () {
            var count = 1;
            if (count >= 1) {
                for (var i = 1; i <= count; i++) {
                    dynamic_field(i);
                }
            }
    
            function dynamic_field(number) {
                var html = '<tr>';
                html += '<input type="hidden" name="id[]" id="" class="form-control" value=""><td><input type ="text" name="txtFirstName[]"  id="txtFFirstName' + number + '"  class ="form-control" /> </td >';
                html += '<td><input type ="text" name="txtLastName[]" id="txtFLastName' + number + '"  class ="form-control" /> </td >';

                var select_list = '<select id="ddlFGender" name="Gender[]" class = "form-control">';
                select_list += '<option value="">Select </option>';
                select_list += '<option value="Male">Male </option>';
                select_list += '<option value="Female">Female </option>';
                select_list += '<option value="Transgender">Transgender </option>';
                select_list += '<option value="NotDisclosed">NotDisclosed </option>';
                select_list += '</select>';
                html += '<td>' + select_list + '</td>';


                html += '<td><input type ="date" name="grade[]" id=""  class ="form-control" /> </td >';

                html += '<td><input type ="date" name="txtLastName[]" id="txtFLastName' + number + '"  class ="form-control" /> </td >';
    
                html += '<td><input type ="text" name="txtLastName[]" id="txtFLastName' + number + '"  class ="form-control" /> </td >';
    
                html += '<td><input type ="file" name="grade[]" id=""  class ="form-control" /> </td >';
                //if (number > 1) {
                //    html += '<td><button type="button" name="remove" id="remove" class="btn btn-danger"> Remove </button> </td >  </tr>';
                //    $('#bindrow').append(html);
                //}
                //else {
                //    html += '<td><button type="button" name="add" id="add" class="btn btn-success"> Add </button> </td>  </tr>';
                //    $('#bindrow').append(html);
                //}
                    html += '<td><button type="button" name="remove" id="remove" class="btn btn-danger"> Remove </button> </td >  </tr>';
                    $('#bindrow').append(html);
            }
    
            $('#add').click(function () {
                count++;
                dynamic_field(count);
            });
    
    
            $(document).on('click', '#remove', function () {
                count--;
                //dynamic_field(count);
                $(this).closest('tr').remove();
            });
    
    
        });
    
    
        $("#dynamic_form").validate({
            rules: {
                Name: "required"
            }
        });
    
    </script>



</div>
